VIDASECURITY-PRO/force-app/main/default/flows/Bienvenida.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Actualizacion_Datos_Personales</name>
        <label>Actualización Datos Personales</label>
        <locationX>438</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>NombresCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombres_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApellidosCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apellidos_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RUTCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RUT_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DVCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DV_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DireccionCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Direccion_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComunaCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comuna_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CiudadCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ciudad_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegionCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TelefonoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Telefono_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Cliente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Datos_Contacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizacion_Datos_Poliza</name>
        <label>Actualización Datos Póliza</label>
        <locationX>738</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>ComentarioCalidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comentario</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotaCalidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nota</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_datos_Poliza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizacion_Datos_Poliza_0</name>
        <label>Actualización Datos Póliza</label>
        <locationX>905</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>ComentarioCalidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comentario_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotaCalidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nota</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_datos_Poliza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Datos_Consulta</name>
        <label>Datos Consulta</label>
        <locationX>440</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>ClaveInternet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tiene_clave_Internet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecibioPoliza</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recibio_Poliza</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BeneficioCVM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Beneficios_CVM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consultas_Bienvenida</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>B</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>C</name>
        <choiceText>C</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sin_Informacion</name>
        <choiceText>Sin Información</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sin Información</stringValue>
        </value>
    </choices>
    <choices>
        <name>X0</name>
        <choiceText>0</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X7</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Cantidad_de_Polizas</name>
        <label>Cantidad de Polizas</label>
        <locationX>158</locationX>
        <locationY>3</locationY>
        <defaultConnector>
            <targetReference>Bienvenida_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Varias Poliza</defaultConnectorLabel>
        <rules>
            <name>Una_Poliza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CantidadPolizas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bienvenida</targetReference>
            </connector>
            <label>Una Poliza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consultas_Bienvenida</name>
        <label>Consultas Bienvenida</label>
        <locationX>593</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Mensaje_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Ingreso_Correcto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClaveInternet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sin Información</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecibioPoliza</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sin Información</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BeneficioCVM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sin Información</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluacion</targetReference>
            </connector>
            <label>Ingreso Correcto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nota_Menor_a_5</name>
        <label>Nota Menor a 5</label>
        <locationX>923</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>Actualizacion_Datos_Poliza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nota Mayor</defaultConnectorLabel>
        <rules>
            <name>Nota_Menor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nota</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Comentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluacion_0</targetReference>
            </connector>
            <label>Nota Menor</label>
        </rules>
    </decisions>
    <interviewLabel>Bienvenida {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bienvenida</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Contacto</name>
        <label>Buscar Contacto</label>
        <locationX>51</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Producto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CiudadCliente</assignToReference>
            <field>Ciudad_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ComunaCliente</assignToReference>
            <field>Comuna_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DVCliente</assignToReference>
            <field>DV_contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DireccionCliente</assignToReference>
            <field>Direccion_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombresCliente</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefonoCliente</assignToReference>
            <field>HomePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApellidosCliente</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegionCliente</assignToReference>
            <field>Region_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RUTCliente</assignToReference>
            <field>Rut_contacto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Participante_de_Campana</name>
        <label>Buscar Participante de Campaña</label>
        <locationX>52</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <object>Participantes_de_Campa_a__c</object>
        <outputAssignments>
            <assignToReference>CantidadPolizas</assignToReference>
            <field>Cantidad_Polizas_mismo_periodo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contacto_ID</assignToReference>
            <field>Contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEjecutiva</assignToReference>
            <field>EjecutivaConexion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Productos</assignToReference>
            <field>Nombres_de_Productos__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Poliza_ID</assignToReference>
            <field>Poliza__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Producto</name>
        <label>Buscar Producto</label>
        <locationX>25</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cantidad_de_Polizas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Poliza_ID</elementReference>
            </value>
        </filters>
        <object>Poliza__c</object>
        <outputAssignments>
            <assignToReference>MesVigencia</assignToReference>
            <field>Mes_de_Sometimiento__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreProducto</assignToReference>
            <field>Nombre_de_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoProducto</assignToReference>
            <field>Tipo_Producto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Datos_Contacto</name>
        <label>Actualizar Datos Contacto</label>
        <locationX>244</locationX>
        <locationY>165</locationY>
        <connector>
            <targetReference>Datos_Contacto_Actualizados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ciudad_Particular__c</field>
            <value>
                <elementReference>CiudadCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comuna_Particular__c</field>
            <value>
                <elementReference>ComunaCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DV_contacto__c</field>
            <value>
                <elementReference>DVCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direccion_Particular__c</field>
            <value>
                <elementReference>DireccionCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>NombresCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>TelefonoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ApellidosCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_Particular__c</field>
            <value>
                <elementReference>RegionCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rut_contacto__c</field>
            <value>
                <elementReference>RUTCliente</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_datos_Poliza</name>
        <label>Actualizar datos Póliza</label>
        <locationX>711</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>Agradecimiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comentario__c</field>
            <value>
                <elementReference>ComentarioCalidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conoce_Beneficios_del_Club_Viva_Mejor__c</field>
            <value>
                <elementReference>BeneficioCVM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contactado__c</field>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nota__c</field>
            <value>
                <elementReference>NotaCalidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recibio_Poliza__c</field>
            <value>
                <elementReference>RecibioPoliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tiene_Clave_Internet__c</field>
            <value>
                <elementReference>ClaveInternet</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <screens>
        <name>Agradecimiento</name>
        <label>Agradecimiento</label>
        <locationX>874</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fin_de_Atencion</targetReference>
        </connector>
        <fields>
            <name>ScriptAgradecimiento</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nuevamente agradecemos su preferencia por nuestra Compañía dándole la más cordial Bienvenida. Muchas gracias Sr.(a) &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;, que tenga un buen día.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bienvenida</name>
        <label>Bienvenida</label>
        <locationX>359</locationX>
        <locationY>3</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Datos_Personales</targetReference>
        </connector>
        <fields>
            <name>SaludoCliente</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Campaña Bienvenida&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Cliente</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sr. (a): &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Ejecutiva</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mi nombre es &lt;B&gt;{!NombreEjecutiva}&lt;/B&gt;, y lo estoy llamando del departamento de Servicio al Cliente de Vida Security.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Bienvenida</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nuestro llamado es para darle una cordial bienvenida a nuestra Compañía por el seguro de vida contratado por Ud. en el mes de &lt;B&gt;{!MesVigencia}&lt;/B&gt;. Además de quitarle unos breves minutos para confirmar sus datos en nuestros Sistemas.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bienvenida_0</name>
        <label>Bienvenida</label>
        <locationX>296</locationX>
        <locationY>85</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Datos_Personales</targetReference>
        </connector>
        <fields>
            <name>SaludoCliente_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Campaña Bienvenida&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Cliente_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sr. (a): &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Ejecutiva_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mi nombre es &lt;B&gt;{!NombreEjecutiva}&lt;/B&gt;, y lo estoy llamando del departamento de Servicio al Cliente de Vida Security.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Bienvenida_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nuestro llamado es para darle una cordial bienvenida a nuestra Compañía por los seguros de vida contratado por Ud. en el mes de &lt;B&gt;{!MesVigencia}&lt;/B&gt;. Además de quitarle unos breves minutos para confirmar sus datos en nuestros Sistemas.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_Contacto_Actualizados</name>
        <label>Datos Contacto Actualizados</label>
        <locationX>244</locationX>
        <locationY>264</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Producto</targetReference>
        </connector>
        <fields>
            <name>CA1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Datos Cliente&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nombre : &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC5</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Rut: &lt;B&gt;{!RUTCliente}-{!DVCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC11</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dirección: &lt;B&gt;{!DireccionCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comuna: &lt;B&gt;{!ComunaCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ciudad: &lt;B&gt;{!CiudadCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Región: &lt;B&gt;{!RegionCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC7</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Teléfono: &lt;B&gt;{!TelefonoCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC9</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email: &lt;B&gt;{!EmailCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_Personales</name>
        <label>Datos Personales</label>
        <locationX>479</locationX>
        <locationY>81</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizacion_Datos_Personales</targetReference>
        </connector>
        <fields>
            <name>DP1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Actualización Datos Personales&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DP2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DP3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Quisiera solicitarle unos minutos para confirmar sus datos en nuestros sistemas:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DP4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nombres_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NombresCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nombres Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Apellidos_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApellidosCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Apellidos Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DP6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RUT_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RUTCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;RUT Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DV_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DVCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;DV Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DP7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Direccion_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DireccionCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dirección Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comuna_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ComunaCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comuna Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ciudad_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CiudadCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ciudad Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Region_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RegionCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Región Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DP5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Telefono_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefonoCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Teléfono Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DP8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EmailCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Evaluacion</name>
        <label>Evaluación</label>
        <locationX>923</locationX>
        <locationY>421</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Nota_Menor_a_5</targetReference>
        </connector>
        <fields>
            <name>Evaluacion1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Nota&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Evaluacion2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Evaluacion3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Si tuviera que ponerle nota a la calidad de servicio entregada por nuestra Compañía, ¿qué nota le pondría?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Evaluacion4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nota</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X0</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>X0</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nota&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Evaluacion5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nota_Comentario</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Para notas menores o iguales a 5 es necesario complementar con un comentario.&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comentario</name>
            <defaultValue>
                <elementReference>SinComentario</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comentario&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Evaluacion_0</name>
        <label>Evaluación</label>
        <locationX>1127</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizacion_Datos_Poliza_0</targetReference>
        </connector>
        <fields>
            <name>Evaluacion1_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Nota&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Evaluacion2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Evaluacion3_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Si tuviera que ponerle nota a la calidad de servicio entregada por nuestra Compañía, ¿qué nota le pondría?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Evaluacion4_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Evaluacion5_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Nota:            {!Nota}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nota_Comentario_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Para notas menores o iguales a 5 es necesario complementar con un comentario.&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comentario_0</name>
            <defaultValue>
                <elementReference>SinComentario</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comentario&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fin_de_Atencion</name>
        <label>Fin de Atención</label>
        <locationX>1075</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fin</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;*** Fin de la Atención. Por favor cierre esta página pinchando la &lt;/I&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;B&gt;&lt;I&gt;[&lt;/I&gt;&lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;&lt;I&gt;X&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;&lt;I&gt;]&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;I&gt; del navegador ***&lt;/I&gt;&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_Error</name>
        <label>Mensaje Error</label>
        <locationX>592</locationX>
        <locationY>267</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Producto</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Debe ingresar las respuestas con valores &amp;quot;Si&amp;quot; o &amp;quot;No&amp;quot; para continuar con esta atención.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Producto</name>
        <label>Producto</label>
        <locationX>442</locationX>
        <locationY>265</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Datos_Consulta</targetReference>
        </connector>
        <fields>
            <name>Titulo2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Registrar Tipo Seguro&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductoNombre</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Producto: &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Productos}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tiene_clave_Internet</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>Sin_Informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Sin_Informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Tiene clave Internet?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>vacio7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recibio_Poliza</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>Sin_Informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Sin_Informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Recibió Póliza?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>vacio8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beneficios_CVM</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Sin_Informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Sin_Informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Conoce los Beneficios del Club Viva Mejor?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>vacio9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Com_beneficios</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;* Importante es preguntar si ha descargado la aplicación para Smartphone e Informar cómo descargar la aplicación para hacer uso de los beneficios del Club&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContinuarProducto</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;* Si el Cliente no ha recibido su clave de Internet debe entregársela.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Buscar_Participante_de_Campana</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApellidosCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficioCVM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CantidadPolizas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CiudadCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaveInternet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComentarioCalidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComunaCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contacto_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DireccionCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ID_Participante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MesVigencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreEjecutiva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombresCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotaCalidad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Poliza_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Productos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecibioPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RUTCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SinComentario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelefonoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TipoProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
