VIDASECURITY-PRO/force-app/main/default/flows/Cobranza_APV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Valor_Cierre_Cliente_Distinto_a_No_Contacto</name>
        <label>Valor Cierre Cliente Distinto a No Contacto</label>
        <locationX>1418</locationX>
        <locationY>1357</locationY>
        <assignmentItems>
            <assignToReference>CausaNoContactoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Motivo_Cierre_Cliente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valor_Cierre_Cliente_No_Contacto</name>
        <label>Valor Cierre Cliente No Contacto</label>
        <locationX>1160</locationX>
        <locationY>1359</locationY>
        <assignmentItems>
            <assignToReference>CausaNoContactoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Causa_No_Contacto_Cliente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Motivo_Cierre_Cliente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valor_Cierre_Empleador_Distinto_a_No_Contacto</name>
        <label>Valor Cierre Empleador Distinto a No Contacto</label>
        <locationX>1900</locationX>
        <locationY>1345</locationY>
        <assignmentItems>
            <assignToReference>CausaNoContactoEmpleado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Motivo_Cierre_Empleador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valor_Cierre_Empleador_No_Contacto</name>
        <label>Valor Cierre Empleador No Contacto</label>
        <locationX>1613</locationX>
        <locationY>1361</locationY>
        <assignmentItems>
            <assignToReference>CausaNoContactoEmpleado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Causa_No_Contacto_Empleador</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Motivo_Cierre_Empleador</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Acepta</name>
        <choiceText>Acepta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Acepta_Cargo_on_Line_TBK</name>
        <choiceText>Acepta Cargo on Line TBK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acepta Cargo on Line TBK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Anulada_por_el_cliente</name>
        <choiceText>Anulada por el cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Anulada por el cliente</stringValue>
        </value>
    </choices>
    <choices>
        <name>Anulada_por_la_Compa_a</name>
        <choiceText>Anulada por la Compañía</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Anulada por la Compañía</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cambiara_tipo_de_pago</name>
        <choiceText>Cambiara tipo de pago</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cambiara tipo de pago</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cliente_pagara_con_Bot_n_de_Pago</name>
        <choiceText>Cliente pagara con Botón de Pago</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente pagara con Botón de Pago</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cliente_pagara_en_sucursal</name>
        <choiceText>Cliente pagara en sucursal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente pagara en sucursal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cliente_pago</name>
        <choiceText>Cliente pago</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente pago</stringValue>
        </value>
    </choices>
    <choices>
        <name>Concert_Visita</name>
        <choiceText>Concertó Visita</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Concertó Visita</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contrato_a_honorarios</name>
        <choiceText>Contrato a honorarios</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contrato a honorarios</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dice_tener_todo_pagado</name>
        <choiceText>Dice tener todo pagado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dice tener todo pagado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Empleador_nunca_le_ha_efectuado_descuento</name>
        <choiceText>Empleador nunca le ha efectuado descuento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Empleador nunca le ha efectuado descuento</stringValue>
        </value>
    </choices>
    <choices>
        <name>Escucha_no_acepta_alternativas</name>
        <choiceText>Escucha, no acepta alternativas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escucha, no acepta alternativas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insiste_en_NO</name>
        <choiceText>Insiste en NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mas_de_6_meses_Impago</name>
        <choiceText>Mas de 6 meses Impago</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mas de 6 meses Impago</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_contacto</name>
        <choiceText>No contacto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No contacto</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_existe_encargado_de_RRHH</name>
        <choiceText>No existe encargado de RRHH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No existe encargado de RRHH</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Pagara</name>
        <choiceText>No Pagara</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Pagara</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_trabaja_en_la_empresa</name>
        <choiceText>No trabaja en la empresa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No trabaja en la empresa</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_volver_a_Llamar</name>
        <choiceText>No volver a Llamar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No volver a Llamar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paga_desfasado</name>
        <choiceText>Paga desfasado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paga desfasado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pagos_al_d_a</name>
        <choiceText>Pagos al día</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pagos al día</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pasara_a_pago_directo</name>
        <choiceText>Pasara a pago directo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pasara a pago directo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Se_cambio_de_Empleador_no_dio_aviso</name>
        <choiceText>Se cambio de Empleador, no dio aviso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Se cambio de Empleador, no dio aviso</stringValue>
        </value>
    </choices>
    <choices>
        <name>Se_env_a_informaci_n_por_email</name>
        <choiceText>Se envía información por email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Se envía información por email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Se_env_a_Ley_escaneada</name>
        <choiceText>Se envía Ley escaneada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Se envía Ley escaneada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>sin_informacion</name>
        <choiceText>Sin Información</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sin Información</stringValue>
        </value>
    </choices>
    <choices>
        <name>Suspendi_pagos_por_x_meses</name>
        <choiceText>Suspendió pagos por x meses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suspendió pagos por x meses</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Flujo_Encuesta_Cerrado_Por</name>
        <label>Flujo Encuesta Cerrado Por</label>
        <locationX>1434</locationX>
        <locationY>864</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Ingreso_Por_Empleador</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cerrado_Por</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Empleador</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encuesta_Datos_de_Cierre_por_Empleador</targetReference>
            </connector>
            <label>Ingreso Por Empleador</label>
        </rules>
        <rules>
            <name>Ingreso_Por_Cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cerrado_Por</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encuesta_Datos_de_Cierre_por_Cliente</targetReference>
            </connector>
            <label>Ingreso Por Cliente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujo_Encuesta_Envio_Ley</name>
        <label>Flujo Encuesta Envio Ley</label>
        <locationX>598</locationX>
        <locationY>754</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Enviamos_Ley_y_Correo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ingreso SI  con Correo</defaultConnectorLabel>
        <rules>
            <name>Ingreso_Error_Sin_Informacion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Envio_LeyCorreo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_5</targetReference>
            </connector>
            <label>Ingreso Error Sin Informacion</label>
        </rules>
        <rules>
            <name>Ingreso_Error_Correo_SI_en_blanco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Envio_LeyCorreo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Correo_Electronico</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_Ingrese_Mail_Vacio</targetReference>
            </connector>
            <label>Ingreso Error Correo SI en blanco</label>
        </rules>
        <rules>
            <name>Ingreso_Correo_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Envio_LeyCorreo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encuesta_Insiste</targetReference>
            </connector>
            <label>Ingreso Correo No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujo_Encuesta_Presentacion</name>
        <label>Flujo Encuesta Presentacion</label>
        <locationX>650</locationX>
        <locationY>485</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>ingreso_SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recibio_Ley</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agradecimientos_1</targetReference>
            </connector>
            <label>ingreso SI</label>
        </rules>
        <rules>
            <name>Ingreso_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recibio_Ley</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encuesta_Envio_Ley</targetReference>
            </connector>
            <label>Ingreso NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujo_Error_1</name>
        <label>Flujo Error 1</label>
        <locationX>640</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Recibio_Ley</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Error_Valor_Vacio_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recibio_Ley</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_1</targetReference>
            </connector>
            <label>Error Valor Vacio 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujo_Error_2</name>
        <label>Flujo Error 2</label>
        <locationX>1437</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Cerrador_por</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Error_Valor_Vacio_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cerrado_Por</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_2</targetReference>
            </connector>
            <label>Error Valor Vacio 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujo_Error_3</name>
        <label>Flujo Error 3</label>
        <locationX>1322</locationX>
        <locationY>1178</locationY>
        <defaultConnector>
            <targetReference>Valor_Cierre_Cliente_Distinto_a_No_Contacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cierre Cliente Distinto a No Contacto</defaultConnectorLabel>
        <rules>
            <name>Error_Valor_Cierre_Cliente_Vacio</name>
            <conditionLogic>1 OR  (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Cierre_Cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cierre_Cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_contacto</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Causa_No_Contacto_Cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_3</targetReference>
            </connector>
            <label>Error Valor Cierre Cliente Vacio</label>
        </rules>
        <rules>
            <name>Cierre_Cliente_Con_No_Contacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cierre_Cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_contacto</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valor_Cierre_Cliente_No_Contacto</targetReference>
            </connector>
            <label>Cierre Cliente Con No Contacto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujo_Error_4</name>
        <label>Flujo Error 4</label>
        <locationX>1807</locationX>
        <locationY>1180</locationY>
        <defaultConnector>
            <targetReference>Valor_Cierre_Empleador_Distinto_a_No_Contacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cierre Empleador Distinto a No Contacto</defaultConnectorLabel>
        <rules>
            <name>Error_Valor_Cierre_Empleador_Vacio</name>
            <conditionLogic>1 OR ( 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Cierre_Empleador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cierre_Empleador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_contacto</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Causa_No_Contacto_Empleador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_4</targetReference>
            </connector>
            <label>Error Valor Cierre Empleador Vacio</label>
        </rules>
        <rules>
            <name>Cierre_Empleador_Con_No_Contacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cierre_Empleador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_contacto</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valor_Cierre_Empleador_No_Contacto</targetReference>
            </connector>
            <label>Cierre Empleador Con No Contacto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flujo_Insistir_al_cliente</name>
        <label>Flujo Insistir al cliente</label>
        <locationX>108</locationX>
        <locationY>1005</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Ingreso_No_Acepta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respuesta_Cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Enviamos_Ley_y_Correo</targetReference>
            </connector>
            <label>Ingreso No Acepta</label>
        </rules>
        <rules>
            <name>Ingreso_Si_Acepta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acepta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encuesta_Envio_Ley</targetReference>
            </connector>
            <label>Ingreso Si Acepta</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CausaNoContacto</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Causa_No_Contacto__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lista_Cerrado_por</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cerrado_por__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Cobranza APV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cobranza APV</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Miembro_Campana</name>
        <label>Buscar Miembro Campaña</label>
        <locationX>40</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Datos_Cliente_y_Poliza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Miembro</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>Agente</assignToReference>
            <field>Agente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ComentariosCobranza</assignToReference>
            <field>Comentarios__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombresCliente</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApellidosCliente</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEmpleador</assignToReference>
            <field>Nombre_Empleador__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumeroPoliza</assignToReference>
            <field>Numero_de_Poliza__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefonoCliente</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreProducto</assignToReference>
            <field>Producto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Datos_Cliente_Poliza</name>
        <label>Actualiza Datos Cliente - Poliza</label>
        <locationX>327</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>Encuesta_Presentacion_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Miembro</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comentarios__c</field>
            <value>
                <elementReference>Comentario_Cobranza</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Cerrador_por</name>
        <label>Actualizar Cerrador por</label>
        <locationX>1438</locationX>
        <locationY>739</locationY>
        <connector>
            <targetReference>Flujo_Encuesta_Cerrado_Por</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Miembro</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cerrado_por__c</field>
            <value>
                <elementReference>Cerrado_Por</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Enviamos_Ley_y_Correo</name>
        <label>Actualizar Enviamos Ley y Correo</label>
        <locationX>593</locationX>
        <locationY>1177</locationY>
        <connector>
            <targetReference>Agradecimientos_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Miembro</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Correo_Electronico__c</field>
            <value>
                <elementReference>Correo_Electronico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enviar_Ley__c</field>
            <value>
                <elementReference>Envio_LeyCorreo</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Motivo_Cierre_Cliente</name>
        <label>Actualizar Motivo Cierre Cliente</label>
        <locationX>1331</locationX>
        <locationY>1517</locationY>
        <connector>
            <targetReference>Fin_Atencion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Miembro</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Causa_No_Contacto__c</field>
            <value>
                <elementReference>CausaNoContactoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cerrado__c</field>
            <value>
                <elementReference>Cierre_Cliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Respondida</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Motivo_Cierre_Empleador</name>
        <label>Actualizar Motivo Cierre Empleador</label>
        <locationX>1802</locationX>
        <locationY>1524</locationY>
        <connector>
            <targetReference>Fin_Atencion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Miembro</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Causa_No_Contacto__c</field>
            <value>
                <elementReference>CausaNoContactoEmpleado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cerrado__c</field>
            <value>
                <elementReference>Cierre_Empleador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Respondida</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Recibio_Ley</name>
        <label>Actualizar Recibio Ley</label>
        <locationX>646</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Flujo_Encuesta_Presentacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Miembro</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Recibio_Ley__c</field>
            <value>
                <elementReference>Recibio_Ley</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <screens>
        <name>Agradecimientos_1</name>
        <label>Agradecimientos</label>
        <locationX>967</locationX>
        <locationY>1001</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encuesta_Datos_de_Cierre</targetReference>
        </connector>
        <fields>
            <name>Despedida</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Bueno Sr o Sra &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombreEmpleador} &lt;/B&gt;&lt;/FONT&gt;en nombre de Vida Security le agradezco su tiempo y que tenga un buen día.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_Cliente_y_Poliza</name>
        <label>Datos Cliente y Poliza</label>
        <locationX>176</locationX>
        <locationY>109</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualiza_Datos_Cliente_Poliza</targetReference>
        </connector>
        <fields>
            <name>P1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;CAMPAÑA COBRANZA APV  EMPLEADOR&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;DATOS CLIENTE Y DATOS PÓLIZA&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cliente: &lt;/B&gt;{!NombresCliente} {!ApellidosCliente}                                             &lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; KERNING=&quot;1&quot;&gt; &lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot;&gt;&lt;B&gt;Fono: &lt;/B&gt;{!TelefonoCliente}     &lt;/FONT&gt;   &lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot;&gt;                              &lt;/FONT&gt;   &lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot;&gt;     &lt;/FONT&gt;   &lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot;&gt;   &lt;/FONT&gt;   &lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot;&gt;     &lt;/FONT&gt;   &lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot;&gt;   &lt;/FONT&gt;   &lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot;&gt;&lt;B&gt;Email:  &lt;/B&gt;{!EmailCliente}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Poliza: &lt;/B&gt;{!NumeroPoliza}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Producto: &lt;/B&gt;{!NombreProducto}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Agente Vigente o Postventa: &lt;/B&gt;{!Agente}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P6</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;DATOS COBRANZA&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P7</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Nombre Empleador:&lt;/B&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; KERNING=&quot;0&quot;&gt; &lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; KERNING=&quot;1&quot;&gt;{!NombreEmpleador}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comentario_Cobranza</name>
            <defaultValue>
                <elementReference>ComentariosCobranza</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Comentarios:&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Encuesta_Datos_de_Cierre</name>
        <label>Encuesta Datos de Cierre</label>
        <locationX>1243</locationX>
        <locationY>576</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flujo_Error_2</targetReference>
        </connector>
        <fields>
            <name>Cierre</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;DATOS DE CIERRE&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E4_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E6_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cerrado_Por</name>
            <choiceReferences>sin_informacion</choiceReferences>
            <choiceReferences>Lista_Cerrado_por</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cerrado por:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Encuesta_Datos_de_Cierre_por_Cliente</name>
        <label>Encuesta Datos de Cierre por Cliente</label>
        <locationX>1237</locationX>
        <locationY>1039</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flujo_Error_3</targetReference>
        </connector>
        <fields>
            <name>Cierre_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;DATOS DE CIERRE&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E4_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cierre_Cliente</name>
            <choiceReferences>sin_informacion</choiceReferences>
            <choiceReferences>Acepta_Cargo_on_Line_TBK</choiceReferences>
            <choiceReferences>Anulada_por_el_cliente</choiceReferences>
            <choiceReferences>Anulada_por_la_Compa_a</choiceReferences>
            <choiceReferences>Cliente_pagara_en_sucursal</choiceReferences>
            <choiceReferences>Cliente_pagara_con_Bot_n_de_Pago</choiceReferences>
            <choiceReferences>Cliente_pago</choiceReferences>
            <choiceReferences>Dice_tener_todo_pagado</choiceReferences>
            <choiceReferences>Empleador_nunca_le_ha_efectuado_descuento</choiceReferences>
            <choiceReferences>Escucha_no_acepta_alternativas</choiceReferences>
            <choiceReferences>Cambiara_tipo_de_pago</choiceReferences>
            <choiceReferences>Mas_de_6_meses_Impago</choiceReferences>
            <choiceReferences>No_volver_a_Llamar</choiceReferences>
            <choiceReferences>No_contacto</choiceReferences>
            <choiceReferences>No_Pagara</choiceReferences>
            <choiceReferences>Paga_desfasado</choiceReferences>
            <choiceReferences>Se_cambio_de_Empleador_no_dio_aviso</choiceReferences>
            <choiceReferences>Suspendi_pagos_por_x_meses</choiceReferences>
            <choiceReferences>Pasara_a_pago_directo</choiceReferences>
            <choiceReferences>Concert_Visita</choiceReferences>
            <choiceReferences>Se_env_a_informaci_n_por_email</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cierre Cliente:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>E6_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tex17</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text16</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Ingrese Causa No Contacto solamente cuando Cierre Cliente sea &lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;No Contacto&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Causa_No_Contacto_Cliente</name>
            <choiceReferences>sin_informacion</choiceReferences>
            <choiceReferences>CausaNoContacto</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Causa No Contacto:&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Encuesta_Datos_de_Cierre_por_Empleador</name>
        <label>Encuesta Datos de Cierre por Empleador</label>
        <locationX>1565</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flujo_Error_4</targetReference>
        </connector>
        <fields>
            <name>Cierre_2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;DATOS DE CIERRE&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E4_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cierre_Empleador</name>
            <choiceReferences>sin_informacion</choiceReferences>
            <choiceReferences>No_existe_encargado_de_RRHH</choiceReferences>
            <choiceReferences>Anulada_por_el_cliente</choiceReferences>
            <choiceReferences>Anulada_por_la_Compa_a</choiceReferences>
            <choiceReferences>Pagos_al_d_a</choiceReferences>
            <choiceReferences>Se_env_a_Ley_escaneada</choiceReferences>
            <choiceReferences>No_trabaja_en_la_empresa</choiceReferences>
            <choiceReferences>Contrato_a_honorarios</choiceReferences>
            <choiceReferences>No_contacto</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cierre Empleador:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>text17</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text20</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text18</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text19</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ingrese Causa No Contacto solamente cuando Cierre Empleador sea &lt;FONT COLOR=&quot;#FF0000&quot;&gt;No Contacto&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Causa_No_Contacto_Empleador</name>
            <choiceReferences>sin_informacion</choiceReferences>
            <choiceReferences>CausaNoContacto</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Causa No Contacto:&lt;FONT FACE=&quot;Verdana&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Encuesta_Envio_Ley</name>
        <label>Encuesta Envio Ley</label>
        <locationX>115</locationX>
        <locationY>697</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flujo_Encuesta_Envio_Ley</targetReference>
        </connector>
        <fields>
            <name>E8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Espacio_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Descripcion</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Como ha habido muchos problemas con Correo de Chile debido al paro que están realizando es que queremos ofrecerle enviarle la Ley por correo electrónicos ¿le parece?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Envio_LeyCorreo</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>sin_informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Enviamos ley por Correo?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>text14</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Correo_Electronico</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Correo Electrónico&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Ingreso correo  en forma correcta.  Ejemplo: mc@gmail.com</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Encuesta_Insiste</name>
        <label>Encuesta Insiste</label>
        <locationX>345</locationX>
        <locationY>988</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flujo_Insistir_al_cliente</targetReference>
        </connector>
        <fields>
            <name>D2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Espacio_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>D3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Indique que la opción más rápida es el mail, si insiste en el no, informar al empleador que debe esperar su llegada por correo.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text13</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Respuesta_Cliente</name>
            <choiceReferences>Insiste_en_NO</choiceReferences>
            <choiceReferences>Acepta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Respuesta Cliente:   &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Encuesta_Presentacion_1</name>
        <label>Encuesta Presentacion 1</label>
        <locationX>462</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flujo_Error_1</targetReference>
        </connector>
        <fields>
            <name>Presentacion</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;CONFIRMACION DE LEY APV SAAP&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Buenos días / Buenas Tardes, &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombreEmpleador}.  &lt;/B&gt;Lo estamos llamando del área de Servicio al Cliente de Vida Security mi nombre es {!NombreEjecutiva}, el motivo de nuestro llamado es para verificar si recibió la Ley o Formulario de descuento del APV (ahorro previsional voluntario) del Sr o Sra &lt;B&gt;{!NombresCliente}  {!ApellidosCliente}&lt;/B&gt;?&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recibio_Ley</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>sin_informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Recibió Ley?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>E6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fin_Atencion</name>
        <label>Fin Atención</label>
        <locationX>1591</locationX>
        <locationY>1714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fin_atencion_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;I&gt;*** Fin de la Atención. Por favor cierre esta página pinchando la &lt;/I&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;B&gt;&lt;I&gt;[&lt;/I&gt;&lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;&lt;I&gt;X&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;&lt;I&gt;]&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;I&gt; del navegador ***&lt;/I&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_de_Error_1</name>
        <label>Mensaje de Error 1</label>
        <locationX>463</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encuesta_Presentacion_1</targetReference>
        </connector>
        <fields>
            <name>text9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Debe ingresar las respuestas con valores &amp;quot;Si&amp;quot; o &amp;quot;No&amp;quot; para continuar con esta atención.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_de_Error_2</name>
        <label>Mensaje de Error  2</label>
        <locationX>1239</locationX>
        <locationY>692</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encuesta_Datos_de_Cierre</targetReference>
        </connector>
        <fields>
            <name>text7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_1_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Debe ingresar información de Cerrado por&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_de_Error_3</name>
        <label>Mensaje de Error  3</label>
        <locationX>1082</locationX>
        <locationY>1182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encuesta_Datos_de_Cierre_por_Cliente</targetReference>
        </connector>
        <fields>
            <name>text7_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text8_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_1_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Debe ingresar información de Cerrado y causa no contacto (sólo si  en Cerrado colocó No contacto )&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_de_Error_4</name>
        <label>Mensaje de Error  4</label>
        <locationX>1562</locationX>
        <locationY>1170</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encuesta_Datos_de_Cierre_por_Empleador</targetReference>
        </connector>
        <fields>
            <name>text7_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text8_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_1_0_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Debe ingresar información de Cerrado y causa no contacto (sólo si  en Cerrado colocó No contacto )&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_de_Error_5</name>
        <label>Mensaje de Error  5</label>
        <locationX>334</locationX>
        <locationY>788</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encuesta_Envio_Ley</targetReference>
        </connector>
        <fields>
            <name>Error_Datos_Vacio</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Debe ingresar las respuestas con valores &amp;quot;Si&amp;quot; o &amp;quot;No&amp;quot; para continuar con esta atención.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_Ingrese_Mail_Vacio</name>
        <label>Mensaje Ingrese Mail Vacio</label>
        <locationX>333</locationX>
        <locationY>894</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encuesta_Envio_Ley</targetReference>
        </connector>
        <fields>
            <name>Espacio_3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Espacio_4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Debe ingresar las Correo Electrónico&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Buscar_Miembro_Campana</startElementReference>
    <status>Active</status>
    <variables>
        <name>Agente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApellidosCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CausaNoContactoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CausaNoContactoEmpleado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ComentariosCobranza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contacto_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ID_Miembro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombreEjecutiva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreEmpleador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombresCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelefonoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
