VIDASECURITY-PRO/force-app/main/default/flows/Create_Task_When_Poliza_Ends_Suspension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Decision_Is_Undefined</name>
        <label>Decision Is Undefined</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Update_Poliza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Undefined</defaultConnectorLabel>
        <rules>
            <name>Is_Undefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cantidad_de_meses_suspendido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indefinido</stringValue>
                </rightValue>
            </conditions>
            <label>Is Undefined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Today_Ends_Suspension</name>
        <label>Today Ends Suspension</label>
        <locationX>248</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Other Day</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_Ends_Suspension</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Date_Create_Task</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>Date_Ends_Suspension</name>
        <dataType>Date</dataType>
        <expression>IF ( ISPICKVAL({!$Record.Cantidad_de_meses_suspendido__c}, &quot;Indefinido&quot;) ,
ADDMONTHS( {!$Record.Fecha_de_inicio_de_suspensi_n__c} , 12),
ADDMONTHS( {!$Record.Fecha_de_inicio_de_suspensi_n__c} , VALUE( TEXT( {!$Record.Cantidad_de_meses_suspendido__c} ))))</expression>
    </formulas>
    <formulas>
        <name>DateTime_Create_Task</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Date_Create_Task})+(12/24)</expression>
    </formulas>
    <interviewLabel>Create Task When Poliza Ends Suspension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task When Poliza Ends Suspension</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Decision_Is_Undefined</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date_Create_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad_de_meses_suspendido__c</field>
            <value>
                <elementReference>$Record.Cantidad_de_meses_suspendido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_inicio_de_suspensi_n__c</field>
            <value>
                <elementReference>$Record.Fecha_de_inicio_de_suspensi_n__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Cuenta__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126S000001YdctQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>DateTime_Create_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No iniciada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Realizar Llamada - Póliza: {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Cuenta__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Cuenta__r.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Poliza</name>
        <label>Update Poliza</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Cantidad_de_meses_suspendido__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_inicio_de_suspensi_n__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Today_Ends_Suspension</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cantidad_de_meses_suspendido__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_inicio_de_suspensi_n__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Poliza__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-04</startDate>
            <startTime>01:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
