VIDASECURITY-PRO/force-app/main/default/flows/Create_Participante_AMAC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Decision_Is_AMAC</name>
        <label>Decision Is AMAC</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Not AMAC</defaultConnectorLabel>
        <rules>
            <name>Is_AMAC</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND 7 AND ( 8 OR 9 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Participa_Campaign_Amac__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Estado_Agente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desvinculado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Estado_Agente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio de Cargo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Ejecutivo_de_Cliente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Cantidad_Polizas_Activas__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Cliente_Fidelizado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner.Ejecutivo_de_Cliente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Participante_AMAC</targetReference>
            </connector>
            <label>Is AMAC</label>
        </rules>
    </decisions>
    <interviewLabel>Create Participante AMAC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Participante AMAC</label>
    <loops>
        <name>Polizas_Account</name>
        <label>Polizas Account</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Poliza</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Poliza_Participante_AMAC</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Participante_AMAC</name>
        <label>Create Participante AMAC</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Poliza</targetReference>
        </connector>
        <inputAssignments>
            <field>Campa_a_Vida_Security__c</field>
            <value>
                <stringValue>a020H000017TN1iQAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contacto__c</field>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Campaña AMAC - {!$Record.FirstName} {!$Record.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120H000000yUBUQA2</stringValue>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Poliza_Participante_AMAC</name>
        <label>Create Poliza Participante AMAC</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Polizas_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Codigo__c</field>
            <value>
                <stringValue>0120H000000yUBUQA2{!$Record.Id}{!Polizas_Account.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participante_de_Campana__c</field>
            <value>
                <elementReference>Create_Participante_AMAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poliza__c</field>
            <value>
                <elementReference>Polizas_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Poliza_de_Participante_de_Campana__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Poliza</name>
        <label>Get Poliza</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Polizas_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACTIVA</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001I5MeAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Poliza__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Is_AMAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005i0000000ij3TAAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0050H00000A2r2tQAB</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005i0000004xhHpAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0050H00000B7a0LQAR</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
