VIDASECURITY-PRO/force-app/main/default/flows/Envio_de_Nuevo_Correo_Seguro_Oncologico.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Flujo_Alerta_Correo_Oncologico</name>
        <label>Flujo_Alerta Correo Oncológico</label>
        <locationX>770</locationX>
        <locationY>491</locationY>
        <actionName>CampaignMember.SEC_Enviar_Email_Producto_Oncologico_Televenta_2_Correos</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Es_Cliente_Vida</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Id_Miembro</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SEC_Enviar_Email_Producto_APEG_Televenta_2_Correos</name>
        <label>SEC - Enviar Email Producto APEG - Televenta - 2 Correos</label>
        <locationX>858</locationX>
        <locationY>192</locationY>
        <actionName>CampaignMember.SEC_Enviar_Email_Producto_APEG_Televenta_2_Correos</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Es_cliente_APEG</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Id_Miembro</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Envio_Cancelado</name>
        <label>Envio Cancelado</label>
        <locationX>267</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Casilla_Cancelar_Envio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancelar_Env_o_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Tarea_Oncol_gico</targetReference>
            </connector>
            <label>Casilla Cancelar Envio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_cliente_APEG</name>
        <label>Es cliente APEG</label>
        <locationX>994</locationX>
        <locationY>124</locationY>
        <defaultConnectorLabel>Predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Cliente_APEG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Es_Cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Tarea_Env_o_APEG</targetReference>
            </connector>
            <label>Si Cliente APEG</label>
        </rules>
        <rules>
            <name>No_Cliente_APEG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Es_Cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_tarea_Envio_APEG_Lead</targetReference>
            </connector>
            <label>No Cliente APEG</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Cliente_Vida</name>
        <label>Es Cliente Vida</label>
        <locationX>972</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>Ppredeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Es_Cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Tarea_Envio_Correo_Oncologico</targetReference>
            </connector>
            <label>Si Cliente</label>
        </rules>
        <rules>
            <name>No_Cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Es_Cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Tarea_Envio_Onco_Lead</targetReference>
            </connector>
            <label>No Cliente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Producto_oferta</name>
        <label>Producto oferta</label>
        <locationX>731</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>Predeterminado</defaultConnectorLabel>
        <rules>
            <name>Onco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Productooferta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>19</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flujo_Alerta_Correo_Oncologico</targetReference>
            </connector>
            <label>Onco</label>
        </rules>
        <rules>
            <name>APEG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Productooferta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>66</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEC_Enviar_Email_Producto_APEG_Televenta_2_Correos</targetReference>
            </connector>
            <label>APEG</label>
        </rules>
    </decisions>
    <description>Flujo para enviar el correo de Oncológico/APEG a nueva casilla del cliente</description>
    <interviewLabel>Envío de Nuevo Correo Seguro Oncológico {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envío de Nuevo Correo Televenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Tarea_Env_o_APEG</name>
        <label>Crea Tarea Envío APEG</label>
        <locationX>1248</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>Correo_Oncoogico</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Envío de Correo para la Campaña &quot;{!Nombre_Campana}&quot;. Se envía correo a las cuentas {!Nuevo_Email_Carga_1} {!Nuevo_Email_Carga_2} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario_Tarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Correo electrónico: Conoce el seguro de accidentes personales de Emisión Garantizada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Cuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Crea_Tarea_Envio_Correo_Oncologico</name>
        <label>Crea Tarea Envío Correo Oncológico</label>
        <locationX>1254</locationX>
        <locationY>921</locationY>
        <connector>
            <targetReference>Correo_Oncoogico</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Envío de correo para la camapaña &quot;{!Nombre_Campana}&quot;. Se envía correo a las cuentas {!Nuevo_Email_Carga_1} {!Nuevo_Email_Carga_2} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario_Tarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Correo electrónico: Conoce el nuevo seguro oncológico Vida Security</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Cuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Crea_Tarea_Envio_Onco_Lead</name>
        <label>Crea Tarea Envio Onco Lead</label>
        <locationX>1408</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Correo_Oncoogico</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Envío de correo para la camapaña &quot;{!Nombre_Campana}&quot;. Se envía correo a las cuentas {!Nuevo_Email_Carga_1} {!Nuevo_Email_Carga_2} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario_Tarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Correo electrónico: Conoce el nuevo seguro oncológico Vida Security</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Lead</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_tarea_Envio_APEG_Lead</name>
        <label>Crear tarea Envio APEG Lead</label>
        <locationX>1148</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Correo_Oncoogico</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Envío de Correo para la Campaña &quot;{!Nombre_Campana}&quot;. Se envía correo a las cuentas {!Nuevo_Email_Carga_1} {!Nuevo_Email_Carga_2} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario_Tarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Correo electrónico: Conoce el seguro de accidentes personales de Emisión Garantizada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Lead</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Datos_Campana</name>
        <label>Obtener Datos Campaña</label>
        <locationX>587</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Datos_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Campana</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>Nombre_Campana</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtención del miembro de campaña,</description>
        <name>Obtener_Miembro_de_Campana_Oncologico</name>
        <label>Obtener Miembro de Campaña Oncológico</label>
        <locationX>588</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Datos_Campana</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Miembro</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>Id_Contacto</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Id_Lead</assignToReference>
            <field>LeadId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Apellido_Materno</assignToReference>
            <field>MCAMP_Carga_Apellido_Materno__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Apellido_Paterno</assignToReference>
            <field>MCAMP_Carga_Apellido_Paterno__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CorreoCarga1</assignToReference>
            <field>MCAMP_Carga_Email_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Es_Cliente</assignToReference>
            <field>MCAMP_Es_cliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Primer_Nombre</assignToReference>
            <field>MCAPM_Carga_Primer_Nombre__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Tarea_Oncol_gico</name>
        <label>Obtener Tarea Oncológico</label>
        <locationX>390</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Miembro_de_Campana_Oncologico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Tarea</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>Id_Propietario_Tarea</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Id_Campana</assignToReference>
            <field>TASK_ID_Campana__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Id_Miembro</assignToReference>
            <field>TASK_ID_Miembro_Campana__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Productooferta</assignToReference>
            <field>TASK_Producto_Oferta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Id_Cuenta</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Componente par actualizar el correo en miembro de campaña</description>
        <name>Actualizar_Miembro_de_Campana</name>
        <label>Actualizar Miembro de Campaña</label>
        <locationX>587</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>Producto_oferta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Miembro</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MCAMP_Carga_Email_1__c</field>
            <value>
                <elementReference>Nuevo_Email_Carga_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MCAMP_Carga_Email_2__c</field>
            <value>
                <elementReference>Nuevo_Email_Carga_2</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <screens>
        <name>Correo_Oncoogico</name>
        <label>Correo Oncológico</label>
        <locationX>1911</locationX>
        <locationY>409</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Texto_Correo_Enviado</name>
            <fieldText>El correo se encuentra en proceso de envío.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_Cliente</name>
        <label>Datos Cliente</label>
        <locationX>428</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_Miembro_de_Campana</targetReference>
        </connector>
        <fields>
            <name>txv_NombreCompleto</name>
            <fieldText>&lt;b&gt;Nombre Cliente:&lt;/b&gt; {!Primer_Nombre} {!Apellido_Paterno} {!Apellido_Materno}
&lt;p&gt;Por favor ingrese el nuevo correo:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Carga_1</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CorreoCarga1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>correo@example.com</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Nuevo_Email_Carga_1</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Email_Carga_2</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CorreoCarga2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>correo@example.com</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Nuevo_Email_Carga_2</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inicio_Salud_Protegida</name>
        <label>Inicio Salud Protegida</label>
        <locationX>114</locationX>
        <locationY>311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Envio_Cancelado</targetReference>
        </connector>
        <fields>
            <name>Cancelar_Env_o_Email</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Cancelar Envío Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>19</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>Inicio_Salud_Protegida</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Apellido_Materno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Apellido_Paterno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CorreoCarga1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CorreoCarga2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Es_Cliente</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Id de Campaña Oncológico</description>
        <name>Id_Campana</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Contacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_Cuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_Lead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable en la cual se almacena el miembro de campaña.</description>
        <name>Id_Miembro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id del propietario de la tarea</description>
        <name>Id_Propietario_Tarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Tarea Actual</description>
        <name>Id_Tarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Nombre_Campana</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Nuevo_Email_Carga_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Nuevo_Email_Carga_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Primer_Nombre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Productooferta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
