VIDASECURITY-PRO/force-app/main/default/flows/Evaluaci_n_Post_Venta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asignacion_No_Sucursal</name>
        <label>Asignación No Sucursal</label>
        <locationX>658</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>Puntualidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Puntualidad_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conocimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conocimiento_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Satisfaccion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Satisfaccion_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MotivoEvaluacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motivo_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valores_Evaluacion_No_Sucursal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Sucursal</name>
        <label>Asignación Sucursal</label>
        <locationX>467</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>Conocimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conocimiento_Si</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Satisfaccion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Satisfaccion_Si</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MotivoEvaluacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motivo_Si</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valores_Evaluacion_Sucursal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RespuestaAtencion</name>
        <label>RespuestaAtencion</label>
        <locationX>297</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>FueAtendidoEnSucursal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Atendido_Sucursal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Respuesta_Atencion_Sucursal</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sin_informacion</name>
        <choiceText>Sin información</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sin información</stringValue>
        </value>
    </choices>
    <choices>
        <name>X0</name>
        <choiceText>Seleccione</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1 (Muy Insatisfecho)</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X7</name>
        <choiceText>7 (Muy Satisfecho)</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Respuesta_Atencion_Sucursal</name>
        <label>Respuesta Atención Sucursal</label>
        <locationX>464</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>MensajeError1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SinRespuesta</defaultConnectorLabel>
        <rules>
            <name>RespuestaNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Atendido_Sucursal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EncuestaNo</targetReference>
            </connector>
            <label>RespuestaNo</label>
        </rules>
        <rules>
            <name>RespuestaSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Atendido_Sucursal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EncuestaSi</targetReference>
            </connector>
            <label>RespuestaSi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valores_Evaluacion_No_Sucursal</name>
        <label>Valores Evaluación No Sucursal</label>
        <locationX>849</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>MensajeError2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin Evaluación</defaultConnectorLabel>
        <rules>
            <name>Encuesta_No_Sucursal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Puntualidad_1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>X0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Conocimiento_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>X0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizaci_n_Evaluaci_n_Participante_de_Campa_a</targetReference>
            </connector>
            <label>Encuesta No Sucursal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valores_Evaluacion_Sucursal</name>
        <label>Valores Evaluación Sucursal</label>
        <locationX>468</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>MensajeError3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin Evaluación Sucursal</defaultConnectorLabel>
        <rules>
            <name>Encuesta_Sucursal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Conocimiento_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>X0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Satisfaccion_Si</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>X0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizaci_n_Evaluaci_n_Participante_de_Campa_a</targetReference>
            </connector>
            <label>Encuesta Sucursal</label>
        </rules>
    </decisions>
    <label>Evaluación Post Atención</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Asignaci_n_Id_de_Participante_de_Campa_a</name>
        <label>Asignación Id de Participante de Campaña</label>
        <locationX>13</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdParticipante</elementReference>
            </value>
        </filters>
        <object>Participantes_de_Campa_a__c</object>
        <outputAssignments>
            <assignToReference>IdContacto</assignToReference>
            <field>Contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdCreador_Reunion</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEjecutiva</assignToReference>
            <field>Ejecutivo_de_Clientes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FechaReunion</assignToReference>
            <field>Fecha_de_Reunion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Contacto</name>
        <label>Buscar Contacto</label>
        <locationX>77</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Creador_Evento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContacto</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>NombreCliente</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Creador_Evento</name>
        <label>Buscar Creador Evento</label>
        <locationX>146</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluacion_Post_Venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCreador_Reunion</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CreadorEvento</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizaci_n_Evaluaci_n_Participante_de_Campa_a</name>
        <label>Actualización Evaluación Participante de Campaña</label>
        <locationX>704</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Agradecimiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdParticipante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Atendido_en_Sucursal__c</field>
            <value>
                <elementReference>FueAtendidoEnSucursal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conocimiento_de_la_Ejecutiva__c</field>
            <value>
                <elementReference>Conocimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contactado__c</field>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Evaluacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_Evaluaci_n__c</field>
            <value>
                <elementReference>MotivoEvaluacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Puntualidad_de_la_Ejecutiva__c</field>
            <value>
                <elementReference>Puntualidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfaccion_con_el_Servicio__c</field>
            <value>
                <elementReference>Satisfaccion</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <screens>
        <name>Agradecimiento</name>
        <label>Agradecimiento</label>
        <locationX>876</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fin_de_la_atencion</targetReference>
        </connector>
        <fields>
            <name>Gracias</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000066&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;En nombre de Vida Security le agradezco su tiempo. Que tenga un buen día.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EncuestaNo</name>
        <label>EncuestaNo</label>
        <locationX>658</locationX>
        <locationY>21</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignacion_No_Sucursal</targetReference>
        </connector>
        <fields>
            <name>SN1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Entonces, si tuviera que poner una nota de 1 a 7, donde 1 es &lt;I&gt;Muy Insatisfecho&lt;/I&gt; y 7 es &lt;I&gt;Muy Satisfecho,&lt;/I&gt; qué nota le pondría a los siguientes aspectos:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SN2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Puntualidad_1</name>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>X0</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Puntualidad de la Ejecutiva a la Reunión Concertada&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SN3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conocimiento_2</name>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>X0</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Conocimientos de la Ejecutiva&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SN4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Satisfaccion_3</name>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>X0</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Su satisfacción respecto al Servicio Entregado&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SN5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Motivo_4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Por qué motivo evalúa con esa nota al servicio entregado?&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EncuestaSi</name>
        <label>EncuestaSi</label>
        <locationX>296</locationX>
        <locationY>222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignacion_Sucursal</targetReference>
        </connector>
        <fields>
            <name>En2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Entonces, si tuviera que poner una nota de 1 a 7, donde 1 es &lt;I&gt;Muy Insatisfecho&lt;/I&gt; y 7 es &lt;I&gt;Muy Satisfecho&lt;/I&gt;, qué nota le pondría a los siguientes aspectos:&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>En3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conocimiento_Si</name>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>X0</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Conocimientos de la Ejecutiva&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>En4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Satisfaccion_Si</name>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>X0</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Su satisfacción respecto al Servicio Entregado&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>En5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Motivo_Si</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Por qué motivo evalúa con un esa nota al servicio entregado?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Evaluacion_Post_Venta</name>
        <label>Evaluación Post Venta</label>
        <locationX>296</locationX>
        <locationY>19</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RespuestaAtencion</targetReference>
        </connector>
        <fields>
            <name>Saludo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Buenos Días / Buenas Tardes, Sr.(a) &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombreCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nota1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lo estoy llamando del área de Servicio al Cliente de Vida Security para evaluar la atención que le entregó &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!CreadorEvento}&lt;/B&gt;&lt;/FONT&gt; el día &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!FechaReunion}&lt;/B&gt;&lt;/FONT&gt; ¿Nos permite hacerle unas breves preguntas?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PreguntaAtencion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;¿Usted fue atendido por la Ejecutiva en la Sucursal?&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Atendido_Sucursal</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Respuesta:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fin_de_la_atencion</name>
        <label>Fin de la atención</label>
        <locationX>876</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fin</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;*** Fin de la atención. Por favor cierre esta página pinchando la &lt;/I&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;B&gt;&lt;I&gt;[&lt;/I&gt;&lt;/B&gt;&lt;FONT COLOR=&quot;#CC0000&quot;&gt;&lt;B&gt;&lt;I&gt;X&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;&lt;I&gt;]&lt;/I&gt;&lt;/B&gt;&lt;FONT COLOR=&quot;#CC0000&quot;&gt;&lt;I&gt; &lt;/I&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;I&gt;del navegador ***&lt;/I&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MensajeError1</name>
        <label>MensajeError1</label>
        <locationX>473</locationX>
        <locationY>20</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluacion_Post_Venta</targetReference>
        </connector>
        <fields>
            <name>E2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Debe seleccionar un valor (Si o No) para continuar&lt;/I&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MensajeError2</name>
        <label>MensajeError2</label>
        <locationX>844</locationX>
        <locationY>19</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EncuestaNo</targetReference>
        </connector>
        <fields>
            <name>Error2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Es necesario evaluar con nota entre 1 a 7, favor revise sus respuestas e intentelo nuevamente.&lt;/I&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MensajeError3</name>
        <label>MensajeError3</label>
        <locationX>297</locationX>
        <locationY>360</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EncuestaSi</targetReference>
        </connector>
        <fields>
            <name>E6</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Es necesario evaluar con nota entre 1 a 7, favor revise sus respuestas e intentelo nuevamente.&lt;/I&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Asignaci_n_Id_de_Participante_de_Campa_a</startElementReference>
    <status>Active</status>
    <variables>
        <name>Conocimiento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CreadorEvento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaReunion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FueAtendidoEnSucursal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCreador_Reunion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdParticipante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MotivoEvaluacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombreEjecutiva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotaGeneral</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Puntualidad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Satisfaccion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
