VIDASECURITY-PRO/force-app/main/default/flows/Flujo_Campa_a_Cobranza.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Actualizar_eleccion_cliente</name>
        <label>Actualizar eleccion cliente</label>
        <locationX>1199</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>Respuesta_del_cliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Medio_Pago</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_estado_de_gestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asginacion_nunca_retoma</name>
        <label>Asginacion nunca retoma</label>
        <locationX>888</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>Respuesta_del_cliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seleccion_nunca_retoma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nunca_retomara_pagos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar_razon_no_pago</name>
        <label>asignar razon no pago</label>
        <locationX>1049</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>Respuesta_del_cliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Razon_No_pago_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_estado_gestion</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>cambio_company</name>
        <choiceText>ME ESTOY CAMBIANDO DE COMPAÑÍA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Me estoy cambiando de compañía</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estoyjubilado</name>
        <choiceText>ESTOY JUBILADO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estoy jubilado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Irearescatar</name>
        <choiceText>IRÉ A RESCATAR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Iré a rescatar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lotengosolocomoahorro</name>
        <choiceText>SOLO AHORRO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lo tengo sólo como ahorro</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Disponible</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Retoma_Pago</name>
        <choiceText>POR AHORA NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_reunion</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nomeinteresa</name>
        <choiceText>NO ME INTERESA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No me interesa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Noquieropagarloporahora</name>
        <choiceText>NO QUIERO PAGARLO POR AHORA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No quiero pagarlo por ahora</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nunca_retomara</name>
        <choiceText>NO RETOMARÁ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nunca</stringValue>
        </value>
    </choices>
    <choices>
        <name>Otro</name>
        <choiceText>OTRO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otro</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAC</name>
        <choiceText>PAC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAC</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAT</name>
        <choiceText>PAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Por_Definir</name>
        <choiceText>POR DEFINIR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Por definir</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProblemaEconomico</name>
        <choiceText>PROBLEMA ECONOMICO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Problema Económico</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quieroqueseanule</name>
        <choiceText>QUIERO QUE SE ANULE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quiero que se anule</stringValue>
        </value>
    </choices>
    <choices>
        <name>SAAP_1</name>
        <choiceText>SAAP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SAAP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_Disponible</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_Retoma_Pago</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_reunion</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>SinTrabajo</name>
        <choiceText>SIN TRABAJO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sin Trabajo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vivoomevoyalextranjero</name>
        <choiceText>VIVO O ME VOY AL EXTRANJERO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vivo o me voy al extranjero</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Buscar_Tarea_creada</name>
        <label>Buscar Tarea creada</label>
        <locationX>1040</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>Crear_Tarea_llamada_efectiva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe tarea</defaultConnectorLabel>
        <rules>
            <name>Existe_Tarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_Tarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_registro_llamada_2</targetReference>
            </connector>
            <label>Existe Tarea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desicioncliente</name>
        <label>Cliente disponible</label>
        <locationX>385</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Crear_Intento_de_Llamada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_Disponible</defaultConnectorLabel>
        <rules>
            <name>Si_disponible_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cliente_disponible_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si_Disponible</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consulta_retomara_pago</targetReference>
            </connector>
            <label>Si disponible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Tarea_2</name>
        <label>Existe Tarea 2</label>
        <locationX>1549</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Llamada_efectiva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe tarea con reunion</defaultConnectorLabel>
        <rules>
            <name>Existe_Tarea_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_Tarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quiere_reunion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_reunion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Intentos_de_llamada</targetReference>
            </connector>
            <label>Existe Tarea</label>
        </rules>
        <rules>
            <name>No_existe_tarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_Tarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quiere_reunion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_reunion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Llamada_Efectiva_2</targetReference>
            </connector>
            <label>No existe tarea</label>
        </rules>
        <rules>
            <name>Existe_tarea_con_reunion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_Tarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quiere_reunion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si_reunion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_tarea_y_crea_reunion</targetReference>
            </connector>
            <label>Existe tarea con reunion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Tarea_4</name>
        <label>Existe Tarea 3</label>
        <locationX>1979</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Crear_llamada_efectiva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe tarea</defaultConnectorLabel>
        <rules>
            <name>Existe_Tarea_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_Tarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_intento_de_llamada_3</targetReference>
            </connector>
            <label>Existe Tarea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quiere_reunion_1</name>
        <label>Quiere reunion?</label>
        <locationX>1413</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Existe_Tarea_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No quiere reunion</defaultConnectorLabel>
        <rules>
            <name>Quiere_reunion_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quiere_reunion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si_reunion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmar_Reuni_n</targetReference>
            </connector>
            <label>Quiere reunion</label>
        </rules>
    </decisions>
    <decisions>
        <name>retomara_pagos</name>
        <label>retomara pagos?</label>
        <locationX>883</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>RAZON_NO_PAGO_pantalla</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No retoma</defaultConnectorLabel>
        <rules>
            <name>Si_retoma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retoma_Pago_eleccion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si_Retoma_Pago</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pantalla_inicio</targetReference>
            </connector>
            <label>Si retoma</label>
        </rules>
        <rules>
            <name>Nunca_Retomara_pagos_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retoma_Pago_eleccion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nunca_retomara</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Razon_nunca_pago_2</targetReference>
            </connector>
            <label>Nunca Retomara</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_tarea_existente</name>
        <label>Validar tarea existente</label>
        <locationX>403</locationX>
        <locationY>828</locationY>
        <defaultConnector>
            <targetReference>Crear_llamada_no_efectiva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe tarea</defaultConnectorLabel>
        <rules>
            <name>Existe_tarea_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_primera_Tarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Tarea_existente</targetReference>
            </connector>
            <label>Existe tarea</label>
        </rules>
    </decisions>
    <description>Flujo de pantallas para campaña de cobranzas</description>
    <dynamicChoiceSets>
        <name>RespuestaImportante</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Respuesta_del_Cliente__c</picklistField>
        <picklistObject>Participantes_de_Campa_a__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>TareaHoy</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Flujo Campaña Cobranza {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Campaña Cobranza</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_realizar_llamada</name>
        <label>Crea realizar llamada</label>
        <locationX>550</locationX>
        <locationY>1149</locationY>
        <assignRecordIdToReference>Id_Participante</assignRecordIdToReference>
        <connector>
            <targetReference>Pantalla_Cierre</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>PrimerContacto1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>PrimerContacto1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No iniciada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Realizar Llamada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Intento_de_llamada_1</name>
        <label>Crear Intento de llamada</label>
        <locationX>244</locationX>
        <locationY>1228</locationY>
        <assignRecordIdToReference>Id_Participante</assignRecordIdToReference>
        <connector>
            <targetReference>Pantalla_Cierre</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>PrimerContacto1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>PrimerContacto1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No iniciada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Realizar Llamada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_llamada_efectiva</name>
        <label>Crear llamada efectiva</label>
        <locationX>1859</locationX>
        <locationY>1088</locationY>
        <assignRecordIdToReference>Id_Propietario</assignRecordIdToReference>
        <connector>
            <targetReference>Pantalla_Cierre</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TareaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentario_participante3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada Efectiva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Llamada_Efectiva_2</name>
        <label>Crear Llamada Efectiva 2</label>
        <locationX>1588</locationX>
        <locationY>737</locationY>
        <assignRecordIdToReference>Id_Participante</assignRecordIdToReference>
        <connector>
            <targetReference>Pantalla_Cierre</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TareaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentario_participante2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada Efectiva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_llamada_no_efectiva</name>
        <label>Crear llamada no efectiva</label>
        <locationX>244</locationX>
        <locationY>830</locationY>
        <connector>
            <targetReference>Crear_Intento_de_llamada_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TareaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada No Efectiva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_reunion</name>
        <label>Crear reunion</label>
        <locationX>1911</locationX>
        <locationY>897</locationY>
        <assignRecordIdToReference>Id_Participante</assignRecordIdToReference>
        <connector>
            <targetReference>Pantalla_Cierre</targetReference>
        </connector>
        <inputAssignments>
            <field>Comuna__c</field>
            <value>
                <elementReference>Comuna</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Ubicacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>hora_reunion1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>hora_reunion1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Reunión</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtipo_Asunto__c</field>
            <value>
                <stringValue>Mantención</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visita_Finalizada__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>crear_reunion_2</name>
        <label>crear reunion 2</label>
        <locationX>1522</locationX>
        <locationY>1064</locationY>
        <assignRecordIdToReference>Id_Participante</assignRecordIdToReference>
        <connector>
            <targetReference>Pantalla_Cierre</targetReference>
        </connector>
        <inputAssignments>
            <field>Comuna__c</field>
            <value>
                <elementReference>Comuna</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Ubicacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>hora_reunion1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>hora_reunion1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Reunión</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtipo_Asunto__c</field>
            <value>
                <stringValue>Mantención</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visita_Finalizada__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Tarea_llamada_efectiva</name>
        <label>Crear Tarea llamada efectiva</label>
        <locationX>1221</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Crear_tarea_si_no_quiere_retomar_hoy</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TareaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentario_participante1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada Efectiva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Tarea_pendiente</name>
        <label>Crear Tarea pendiente</label>
        <locationX>1238</locationX>
        <locationY>1128</locationY>
        <assignRecordIdToReference>Id_Participante</assignRecordIdToReference>
        <connector>
            <targetReference>Pantalla_Cierre</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Fecha_retomar_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentario_participante1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Fecha_retomar_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Realizar Llamada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_tarea_si_no_quiere_retomar_hoy</name>
        <label>Crear tarea si no quiere retomar hoy</label>
        <locationX>1342</locationX>
        <locationY>925</locationY>
        <assignRecordIdToReference>Id_Participante</assignRecordIdToReference>
        <connector>
            <targetReference>Pantalla_Cierre</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Fecha_retomar_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentario_participante1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Fecha_retomar_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No iniciada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Realizar Llamada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Llamada_efectiva</name>
        <label>Llamada efectiva</label>
        <locationX>1405</locationX>
        <locationY>723</locationY>
        <connector>
            <targetReference>crear_reunion_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TareaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentario_participante2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada Efectiva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Participante</name>
        <label>Buscar Participante</label>
        <locationX>45</locationX>
        <locationY>488</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gesti_n_de_Campa_a</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <object>Participantes_de_Campa_a__c</object>
        <outputAssignments>
            <assignToReference>Id_Contacto</assignToReference>
            <field>Contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EstadoCierre</assignToReference>
            <field>Estado_Cierre__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Id_Propietario</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Respuesta_del_cliente</assignToReference>
            <field>Respuesta_del_Cliente__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_tarea_existente</name>
        <label>Buscar tarea existente</label>
        <locationX>553</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validar_tarea_existente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No iniciada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizar Llamada</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>Busca_primera_Tarea</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>tareasbuscar</name>
        <label>tareasbuscar</label>
        <locationX>757</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>retomara_pagos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No iniciada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizar Llamada</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>Id_Tarea</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_tarea_y_crea_reunion</name>
        <label>Actualiza tarea y crea reunion</label>
        <locationX>1891</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Crear_reunion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Tarea</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizar Llamada</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TareaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentario_participante2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada Efectiva</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_estado_de_gestion</name>
        <label>Actualizar estado de gestion</label>
        <locationX>1313</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Quiere_reunion_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_Cierre__c</field>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_Gestion_Postventa__c</field>
            <value>
                <stringValue>Cliente_retomara_pagos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Respuesta_del_Cliente__c</field>
            <value>
                <elementReference>Respuesta_del_cliente</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_estado_gestion</name>
        <label>Actualizar estado gestion</label>
        <locationX>1048</locationX>
        <locationY>786</locationY>
        <connector>
            <targetReference>Buscar_Tarea_creada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_Cierre__c</field>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_Gestion_Postventa__c</field>
            <value>
                <stringValue>Solicita que le devuelvan el llamado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Respuesta_del_Cliente__c</field>
            <value>
                <elementReference>Respuesta_del_cliente</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_estado_gestion_inubicable</name>
        <label>Actualizar estado gestion inubicable</label>
        <locationX>553</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>Buscar_tarea_existente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_Cierre__c</field>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_Gestion_Postventa__c</field>
            <value>
                <stringValue>Cliente Inubicable</stringValue>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_intento_de_llamada_3</name>
        <label>Actualizar intento de llamada 3</label>
        <locationX>2074</locationX>
        <locationY>1159</locationY>
        <connector>
            <targetReference>Pantalla_Cierre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizar Llamada</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TareaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentario_participante3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada Efectiva</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Intentos_de_llamada</name>
        <label>Actualizar Intentos de llamada</label>
        <locationX>1770</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>Pantalla_Cierre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Tarea</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizar Llamada</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TareaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentario_participante2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada Efectiva</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_registro_llamada_2</name>
        <label>Actualizar registro llamada</label>
        <locationX>1047</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>Crear_Tarea_pendiente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizar Llamada</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TareaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comentario_participante1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada Efectiva</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Tarea_existente</name>
        <label>Actualizar Tarea existente</label>
        <locationX>417</locationX>
        <locationY>1147</locationY>
        <connector>
            <targetReference>Crea_realizar_llamada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Busca_primera_Tarea</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realizar Llamada</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Contacto</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TareaHoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada No Efectiva</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Nunca_retomara_pagos</name>
        <label>Nunca retomara</label>
        <locationX>1607</locationX>
        <locationY>182</locationY>
        <connector>
            <targetReference>Existe_Tarea_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_Cierre__c</field>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_Gestion_Postventa__c</field>
            <value>
                <stringValue>Cliente no retomará sus pagos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Respuesta_del_Cliente__c</field>
            <value>
                <elementReference>Respuesta_del_cliente</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmar_Reuni_n</name>
        <label>Confirmar Reunión</label>
        <locationX>1425</locationX>
        <locationY>274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existe_Tarea_2</targetReference>
        </connector>
        <fields>
            <name>Elegir_reunion</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot;&gt;Si el cliente quiere reunión, ingrese fecha y hora y la ubicación de la reunión&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>texto1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hora_reunion1</name>
            <dataType>DateTime</dataType>
            <fieldText>Fecha y Hora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>relleno1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ubicacion</name>
            <dataType>String</dataType>
            <fieldText>Ubicacion</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>relleno_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comuna</name>
            <dataType>String</dataType>
            <fieldText>Comuna</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Consulta_retomara_pago</name>
        <label>Consulta retomara pago</label>
        <locationX>603</locationX>
        <locationY>486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>tareasbuscar</targetReference>
        </connector>
        <fields>
            <name>Retoma_Pago</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;¿Cliente retomará pago?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Espacio2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>texto2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot;&gt;¿El cliente desea retomar pagos en su póliza?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>espacio1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Retoma_Pago_eleccion</name>
            <choiceReferences>Si_Retoma_Pago</choiceReferences>
            <choiceReferences>No_Retoma_Pago</choiceReferences>
            <choiceReferences>Nunca_retomara</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>extra1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Crear_Intento_de_Llamada</name>
        <label>Crear Intento de Llamada</label>
        <locationX>389</locationX>
        <locationY>667</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_estado_gestion_inubicable</targetReference>
        </connector>
        <fields>
            <name>Crear_tarea</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Creación de Tarea&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>saDASD</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>texto1_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Por favor, ingrese una fecha para el próximo intento de llamada.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>texto1_12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrimerContacto1</name>
            <dataType>DateTime</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Ingresar próximo llamado&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gesti_n_de_Campa_a</name>
        <label>Gestión de Campaña</label>
        <locationX>244</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Desicioncliente</targetReference>
        </connector>
        <fields>
            <name>Consulta_cliente</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;¿Cliente Disponible?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textor_prueba</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cliente_disponible</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿El cliente se encuentra disponible?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cliente_disponible_1</name>
            <choiceReferences>Si_Disponible</choiceReferences>
            <choiceReferences>No_Disponible</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Cliente Disponible&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Cierre</name>
        <label>Pantalla Cierre</label>
        <locationX>1406</locationX>
        <locationY>1219</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cerrar</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cerrar Pantalla&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>relleno</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cerrar2</name>
            <fieldText>&lt;DIV ALIGN=&quot;JUSTIFY&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Por favor cerrar esta pantalla presionando el botón &quot;Finalizar&quot;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>pantalla_inicio</name>
        <label>pantalla inicio</label>
        <locationX>1076</locationX>
        <locationY>483</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_eleccion_cliente</targetReference>
        </connector>
        <fields>
            <name>Cliente_retomara</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Medio de Pago&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Elija_medio_pago</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot;&gt;Elija el medio de pago con el que el cliente retomará&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Medio_Pago</name>
            <choiceReferences>PAT</choiceReferences>
            <choiceReferences>PAC</choiceReferences>
            <choiceReferences>SAAP_1</choiceReferences>
            <choiceReferences>Por_Definir</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comentario_tarea2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot;&gt;Ingrese un comentario relacionado con la gestión para registrar en la actividad y en el participante de campaña&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comentario_participante2</name>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;Comentarios de Tarea&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Consulta_reunion</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot;&gt;¿El cliente desea reunión?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quiere_reunion</name>
            <choiceReferences>Si_reunion</choiceReferences>
            <choiceReferences>No_reunion</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RAZON_NO_PAGO_pantalla</name>
        <label>Razon no pago</label>
        <locationX>896</locationX>
        <locationY>639</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asignar_razon_no_pago</targetReference>
        </connector>
        <fields>
            <name>no_pagara_ahora</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;No pagará ahora&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Razon_no_pago</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot;&gt;Complete la razón por la que no quiere pagar ahora&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Razon_No_pago_1</name>
            <choiceReferences>ProblemaEconomico</choiceReferences>
            <choiceReferences>SinTrabajo</choiceReferences>
            <choiceReferences>Noquieropagarloporahora</choiceReferences>
            <choiceReferences>Vivoomevoyalextranjero</choiceReferences>
            <choiceReferences>Otro</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fecha_para_retomar</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot;&gt;Si el cliente decide no retomar pagos, consultar en que fecha desea ser contactado para retomarlos&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fecha_retomar_2</name>
            <dataType>DateTime</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Ingresar Fecha para Retomar&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comentario_tarea1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot;&gt;Ingrese un comentario relacionado con la gestión para registrar en la actividad y en el participante de campaña&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comentario_participante1</name>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;Comentarios de Tarea&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Razon_nunca_pago_2</name>
        <label>Razón Nunca Retomar</label>
        <locationX>889</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asginacion_nunca_retoma</targetReference>
        </connector>
        <fields>
            <name>Nunca_Retomara_Pagos_2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Nunca retomará&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Razon_nunca_pago</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot;&gt;Complete la razón por la que nunca retomará&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Seleccion_nunca_retoma</name>
            <choiceReferences>Nomeinteresa</choiceReferences>
            <choiceReferences>Estoyjubilado</choiceReferences>
            <choiceReferences>Quieroqueseanule</choiceReferences>
            <choiceReferences>cambio_company</choiceReferences>
            <choiceReferences>Lotengosolocomoahorro</choiceReferences>
            <choiceReferences>Irearescatar</choiceReferences>
            <choiceReferences>Otro</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comentario_tarea3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot;&gt;Ingrese un comentario relacionado con la gestión para registrar en la actividad y en el participante de campaña&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comentario_participante3</name>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;Comentarios de Tarea&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Buscar_Participante</startElementReference>
    <status>Active</status>
    <variables>
        <name>Busca_primera_Tarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EstadoCierre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_Contacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_Participante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_Propietario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_Tarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_tarea_exitosa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Respuesta_del_cliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestaaMedioPago</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PAT</stringValue>
        </value>
    </variables>
    <variables>
        <name>Respuestadelcliente</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SAAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SAAP</stringValue>
        </value>
    </variables>
    <variables>
        <name>TipoPagorespuesta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
