VIDASECURITY-PRO/force-app/main/default/flows/Flujo_Campa_a_Asistencia_Agente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>AgentedeVenta</name>
        <choiceText>Agente de Venta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agente</stringValue>
        </value>
    </choices>
    <choices>
        <name>EjecutivoPV</name>
        <choiceText>Ejecutivo Post Venta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ejecutivo</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Seleccion_intermediario</name>
        <label>Seleccion intermediario</label>
        <locationX>348</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>Ejecutivo PV</defaultConnectorLabel>
        <rules>
            <name>Agente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Elegirintermediario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AgentedeVenta</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consulta_Agente_de_Venta</targetReference>
            </connector>
            <label>Agente</label>
        </rules>
        <rules>
            <name>Ejecutivo_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Elegirintermediario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EjecutivoPV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consulta_Ejecutivo_Post_Venta</targetReference>
            </connector>
            <label>Ejecutivo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BuscarAgente</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cargo_Agente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agente</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Agente_de_Venta</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vigente</stringValue>
            </value>
        </filters>
        <limit>25</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Sucursal_intermediario</assignToReference>
            <field>Ciudad_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email_intermediario</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Id_Agente_Elegido</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreAgente_Elegido</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Telefono_intermediario</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RUTSupervisor</assignToReference>
            <field>Rut_Supervisor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RUT_intermediario</assignToReference>
            <field>Rut__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SeleccionarEjecutivo</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ejecutivo_de_Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Ejecutivo_Post_Venta</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Supervisor_intermediario</assignToReference>
            <field>Division</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email_intermediario</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEjecutivo_Elegido</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Telefono_intermediario</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RUT_intermediario</assignToReference>
            <field>RUT_Usuario__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Sucursal_intermediario</assignToReference>
            <field>Sucursal__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupervisordelAgente</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rut_Supervisor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RUT_intermediario</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Flujo Campaña Asistencia Agente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Campaña Asistencia Agente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Participante</name>
        <label>Buscar Participante</label>
        <locationX>49</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gesti_n_de_Campa_a</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <object>Participantes_de_Campa_a__c</object>
        <outputAssignments>
            <assignToReference>Id_Contacto</assignToReference>
            <field>Contacto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Supervisor</name>
        <label>Buscar Supervisor</label>
        <locationX>897</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_datos_a_participante</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rut__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RUTSupervisor</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Supervisor_intermediario</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Asignar_datos_a_participante</name>
        <label>Asignar datos a participante</label>
        <locationX>1033</locationX>
        <locationY>233</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contacto__c</field>
            <value>
                <elementReference>Id_Agente_Elegido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Intermediario__c</field>
            <value>
                <elementReference>Email_intermediario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_Intermediario__c</field>
            <value>
                <elementReference>NombreAgente_Elegido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RUT_Intermediario__c</field>
            <value>
                <elementReference>RUT_intermediario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sucursal_Intermediario__c</field>
            <value>
                <elementReference>Sucursal_intermediario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_Intermediario__c</field>
            <value>
                <elementReference>Supervisor_intermediario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_fono_Intermediario__c</field>
            <value>
                <elementReference>Telefono_intermediario</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_datos_a_participante_2</name>
        <label>Asignar datos a participante 2</label>
        <locationX>769</locationX>
        <locationY>425</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Intermediario__c</field>
            <value>
                <elementReference>Email_intermediario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_Intermediario__c</field>
            <value>
                <elementReference>NombreEjecutivo_Elegido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RUT_Intermediario__c</field>
            <value>
                <elementReference>RUT_intermediario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sucursal_Intermediario__c</field>
            <value>
                <elementReference>Sucursal_intermediario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_Intermediario__c</field>
            <value>
                <elementReference>Supervisor_intermediario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_fono_Intermediario__c</field>
            <value>
                <elementReference>Telefono_intermediario</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <screens>
        <name>Agente_Elegido</name>
        <label>Agente de Venta</label>
        <locationX>761</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Buscar_Supervisor</targetReference>
        </connector>
        <fields>
            <name>elegido</name>
            <fieldText>RUT - {!RUT_intermediario}

Contacto elegido - {!NombreAgente_Elegido}

Teléfono - {!Telefono_intermediario}

Sucursal - {!Sucursal_intermediario}

Email - {!Email_intermediario}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Consulta_Agente_de_Venta</name>
        <label>Consulta Agente de Venta</label>
        <locationX>520</locationX>
        <locationY>234</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Elija_Agente_de_Venta</targetReference>
        </connector>
        <fields>
            <name>Texto_apoyo2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Escriba el nombre del Agente de Venta&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agente_de_Venta</name>
            <dataType>String</dataType>
            <fieldText>Agente de Venta</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Consulta_Ejecutivo_Post_Venta</name>
        <label>Consulta Ejecutivo Post Venta</label>
        <locationX>359</locationX>
        <locationY>424</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Elija_Ejecutivo_Post_Venta</targetReference>
        </connector>
        <fields>
            <name>Texto_ayuda3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Escriba el nombre del Ejecutivo Post Venta&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ejecutivo_Post_Venta</name>
            <dataType>String</dataType>
            <fieldText>Ejecutivo Post Venta</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ejecutivo_Post_Venta_4</name>
        <label>Ejecutivo Post Venta</label>
        <locationX>630</locationX>
        <locationY>425</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Asignar_datos_a_participante_2</targetReference>
        </connector>
        <fields>
            <name>DAtos_Ejecutivo</name>
            <fieldText>RUT - {!RUT_intermediario}

Contacto elegido - {!NombreEjecutivo_Elegido}

Teléfono - {!Telefono_intermediario}

Sucursal - {!Sucursal_intermediario}

Email - {!Email_intermediario}

Supervisor - {!Supervisor_intermediario}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Elija_Agente_de_Venta</name>
        <label>Elija Agente de Venta</label>
        <locationX>639</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Agente_Elegido</targetReference>
        </connector>
        <fields>
            <name>Busqueda_Agente</name>
            <choiceReferences>BuscarAgente</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Busqueda Agente de Venta</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Elija_Ejecutivo_Post_Venta</name>
        <label>Elija Ejecutivo Post Venta</label>
        <locationX>483</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ejecutivo_Post_Venta_4</targetReference>
        </connector>
        <fields>
            <name>Ejecutivo_Post_Venta_1</name>
            <choiceReferences>SeleccionarEjecutivo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ejecutivo Post Venta</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gesti_n_de_Campa_a</name>
        <label>Gestión de Campaña</label>
        <locationX>205</locationX>
        <locationY>233</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Seleccion_intermediario</targetReference>
        </connector>
        <fields>
            <name>consulta_cliente1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Agente o Ejecutivo Post Venta?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>texto_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>texto_2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿El intermediario de este Participante de Campaña es Agente o Ejecutivo Post Venta?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Elegirintermediario</name>
            <choiceReferences>AgentedeVenta</choiceReferences>
            <choiceReferences>EjecutivoPV</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Intermediario&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Buscar_Participante</startElementReference>
    <status>Active</status>
    <variables>
        <name>Email_intermediario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Id_Agente_Elegido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Id_Contacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_EjecutivaPV_Elegida</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Id_Participante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombreAgente_Elegido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NombreEjecutivo_Elegido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RUT_intermediario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RUTSupervisor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Sucursal_intermediario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Supervisor_intermediario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Telefono_intermediario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
