VIDASECURITY-PRO/force-app/main/default/flows/Flujo_Caso_Aumento_Prima.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Flujo Caso Aumento Prima {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Caso Aumento Prima</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Caso_Hijo_Aumento_Prima</name>
        <label>Caso Hijo Aumento Prima</label>
        <locationX>448</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>Id_Caso_Hijo</assignRecordIdToReference>
        <connector>
            <targetReference>Actualizar_Estado_Participante</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Id_Cuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Atencion_Presencial__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASO_Categoria__c</field>
            <value>
                <stringValue>Endoso IND</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASO_N_Poliza__c</field>
            <value>
                <elementReference>Id_Poliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal__c</field>
            <value>
                <stringValue>Televenta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detalle_Solicitud__c</field>
            <value>
                <stringValue>ED - Endoso Aumento de Prima en Exceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frecuencia_de_Pago__c</field>
            <value>
                <elementReference>Frecuencia_de_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Negocio__c</field>
            <value>
                <stringValue>Seguros Individuales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Id_Caso_Padre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participante_de_Campa_a__c</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prima_Total_Final__c</field>
            <value>
                <elementReference>Prima_Total_Final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000000xqP9AAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ED - Endoso Aumento de Prima en Exceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Requerimiento__c</field>
            <value>
                <stringValue>Solicitudes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Solicitante__c</field>
            <value>
                <stringValue>Contratante</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Via_contacto__c</field>
            <value>
                <stringValue>Mail</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Caso_Padre_Aumento_Prima</name>
        <label>Caso Padre Aumento Prima</label>
        <locationX>231</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>Id_Caso_Padre</assignRecordIdToReference>
        <connector>
            <targetReference>Caso_Hijo_Aumento_Prima</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Id_Cuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Atencion_Presencial__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASO_Categoria__c</field>
            <value>
                <stringValue>Endoso IND</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CASO_N_Poliza__c</field>
            <value>
                <elementReference>Id_Poliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal__c</field>
            <value>
                <stringValue>Televenta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detalle_Solicitud__c</field>
            <value>
                <stringValue>ED - Endoso Aumento de Prima en Exceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frecuencia_de_Pago__c</field>
            <value>
                <elementReference>Frecuencia_de_Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Negocio__c</field>
            <value>
                <stringValue>Seguros Individuales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participante_de_Campa_a__c</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prima_Total_Final__c</field>
            <value>
                <elementReference>Prima_Total_Final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120H000001QUHFQA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ED - Endoso Aumento de Prima en Exceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Solicitante__c</field>
            <value>
                <stringValue>Contratante</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordUpdates>
        <name>Actualizar_Estado_Participante</name>
        <label>Actualizar Estado Participante</label>
        <locationX>652</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Caso_Creado_Correcto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_de_Gesti_n__c</field>
            <value>
                <stringValue>Cliente realiza endoso telefónico de aumento de prima</stringValue>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <screens>
        <name>Caso_Creado_Correcto</name>
        <label>Caso Creado Correcto</label>
        <locationX>873</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje_Final</name>
            <fieldText>&lt;p&gt;El caso se ha creado correctamente. Por favor presione el botón &lt;b&gt;&quot;Derivar Caso&quot;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Caso_Padre_Aumento_Prima</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Frecuencia_de_Pago</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Caso_Hijo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_Caso_Padre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_Cuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Participante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Poliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Prima_Total_Final</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
