VIDASECURITY-PRO/force-app/main/default/flows/Flujo_Creaci_n_Eventos_AMAC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>Completada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Completada&quot;</stringValue>
        </value>
    </constants>
    <formulas>
        <name>Fechafin</name>
        <dataType>DateTime</dataType>
        <expression>{!FechadeReunion} + (1/24)</expression>
    </formulas>
    <formulas>
        <name>Fecharecordatorioevento</name>
        <dataType>DateTime</dataType>
        <expression>{!FechadeReunion} - (3/24)</expression>
    </formulas>
    <formulas>
        <name>Llamada2</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!TareaHoy},3)</expression>
    </formulas>
    <formulas>
        <name>Llamada3</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Llamada2},4)</expression>
    </formulas>
    <formulas>
        <name>Llamada4</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Llamada3},4)</expression>
    </formulas>
    <formulas>
        <name>Recordatorio1</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE({!Llamada2})-5</expression>
    </formulas>
    <formulas>
        <name>Recordatorio2</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE({!Llamada3})-5</expression>
    </formulas>
    <formulas>
        <name>Recordatorio3</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE({!Llamada4})-5</expression>
    </formulas>
    <formulas>
        <name>TareaHoy</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Flujo Creación Eventos AMAC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Creación Eventos AMAC</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Evento</name>
        <label>Crear Evento</label>
        <locationX>351</locationX>
        <locationY>255</locationY>
        <assignRecordIdToReference>Id_Participante</assignRecordIdToReference>
        <connector>
            <targetReference>Pantalla_Cierre</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Fechafin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_Propietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Fecharecordatorioevento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>FechadeReunion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtipo_Asunto__c</field>
            <value>
                <stringValue>Nuevo Cliente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visita_Finalizada__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Participante</name>
        <label>Buscar Participante</label>
        <locationX>144</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Busqueda_de_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Participante</elementReference>
            </value>
        </filters>
        <object>Participantes_de_Campa_a__c</object>
        <outputAssignments>
            <assignToReference>Contacto_ID</assignToReference>
            <field>Contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EstadoCierre</assignToReference>
            <field>Estado_Cierre__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Id_Propietario</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Busqueda_de_Contacto</name>
        <label>Busqueda de Contacto</label>
        <locationX>144</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Reuni_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <screens>
        <name>Crear_Reuni_n</name>
        <label>Crear Reunión</label>
        <locationX>350</locationX>
        <locationY>132</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Crear_Evento</targetReference>
        </connector>
        <fields>
            <name>CrearEvento</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Creación de Evento&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Texto</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Texto1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Por favor, ingrese una fecha para la reunión.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>texto2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FechadeReunion</name>
            <dataType>DateTime</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Fecha de Reunión&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Cierre</name>
        <label>Pantalla Cierre</label>
        <locationX>531</locationX>
        <locationY>256</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>titutlo1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cerrar Pantalla&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cierre</name>
            <fieldText>&lt;DIV ALIGN=&quot;JUSTIFY&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Por favor cerrar esta pantalla en la &lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;[x]&lt;/B&gt;&lt;/FONT&gt; en la parte superior.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Buscar_Participante</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contacto_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EstadoCierre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Participante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_Propietario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
