VIDASECURITY-PRO/force-app/main/default/flows/Nuevos_Participantes_Campana_Rescate_Traspasos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Canal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asistencia Agente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atención</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Traspaso APV (IN) Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Solicitud de Rescate Total (OUT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Solicitud de Traspaso APV (OUT) a otra Institución Autorizada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ingreso Traspaso APV (IN) a Caja Vida Security</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Verifica Asistencia Agente</label>
        </rules>
    </decisions>
    <description>Proceso para crear los participantes de campaña de &quot;Campaña Rescate/Traspasos&quot;</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Case].Subject,&quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,LEFT(SUBSTITUTE(MID([Case].Description, FIND(&quot;Institución Destino : &quot;,[Case].Description),70),&quot;Institución Destino : &quot;,&quot;&quot;),FIND(&quot;Si tiene&quot;,[Case].Description)-9),&quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_8325885588</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Subject},&quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,LEFT(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;Institución Destino : &quot;,{!myVariable_current.Description}),70),&quot;Institución Destino : &quot;,&quot;&quot;),FIND(&quot;Si tiene&quot;,{!myVariable_current.Description})-9),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Case].Subject,&quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,
DATE(VALUE(RIGHT(SUBSTITUTE(MID([Case].Description, FIND(&quot;fecha &quot;,[Case].Description),16),&quot;fecha &quot;,&quot;&quot;),4)),VALUE(MID(SUBSTITUTE(MID([Case].Description, FIND(&quot;fecha &quot;,[Case].Description),16),&quot;fecha &quot;,&quot;&quot;),4,2)),VALUE(LEFT(SUBSTITUTE(MID([Case].Description, FIND(&quot;fecha &quot;,[Case].Description),16),&quot;fecha &quot;,&quot;&quot;),2))),DATE(VALUE(RIGHT(SUBSTITUTE(MID([Case].Description, FIND(&quot;fecha &quot;,[Case].Description),16),&quot;fecha &quot;,&quot;&quot;),4)),VALUE(MID(SUBSTITUTE(MID([Case].Description, FIND(&quot;fecha &quot;,[Case].Description),16),&quot;fecha &quot;,&quot;&quot;),4,2)),VALUE(LEFT(SUBSTITUTE(MID([Case].Description, FIND(&quot;fecha &quot;,[Case].Description),16),&quot;fecha &quot;,&quot;&quot;),2))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_0358893927</name>
        <dataType>Date</dataType>
        <expression>CASE({!myVariable_current.Subject},&quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,
DATE(VALUE(RIGHT(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;fecha &quot;,{!myVariable_current.Description}),16),&quot;fecha &quot;,&quot;&quot;),4)),VALUE(MID(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;fecha &quot;,{!myVariable_current.Description}),16),&quot;fecha &quot;,&quot;&quot;),4,2)),VALUE(LEFT(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;fecha &quot;,{!myVariable_current.Description}),16),&quot;fecha &quot;,&quot;&quot;),2))),DATE(VALUE(RIGHT(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;fecha &quot;,{!myVariable_current.Description}),16),&quot;fecha &quot;,&quot;&quot;),4)),VALUE(MID(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;fecha &quot;,{!myVariable_current.Description}),16),&quot;fecha &quot;,&quot;&quot;),4,2)),VALUE(LEFT(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;fecha &quot;,{!myVariable_current.Description}),16),&quot;fecha &quot;,&quot;&quot;),2))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Case].Subject,&quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,CASE(SUBSTITUTE(MID([Case].Description, FIND(&quot;Tipo Traspaso : &quot;,[Case].Description),21),&quot;Tipo Traspaso : &quot;,&quot;&quot;),&quot;Total&quot;,&quot;Total&quot;,&quot;Parcial&quot;),&quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_7766917758</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Subject},&quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,CASE(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;Tipo Traspaso : &quot;,{!myVariable_current.Description}),21),&quot;Tipo Traspaso : &quot;,&quot;&quot;),&quot;Total&quot;,&quot;Total&quot;,&quot;Parcial&quot;),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Case].Subject,&quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,SUBSTITUTE(SUBSTITUTE(MID([Case].Description, FIND(&quot;Monto Traspaso $: &quot;,[Case].Description),32),&quot;.&quot;,&quot;&quot;),&quot;Monto Traspaso $: &quot;,&quot;&quot;),
&quot;Ingreso Traspaso APV (IN) a Caja Vida Security&quot;,SUBSTITUTE(SUBSTITUTE(MID([Case].Description, FIND(&quot;monto de $&quot;,[Case].Description),23),&quot;.&quot;,&quot;&quot;),&quot;monto de $&quot;,&quot;&quot;),&quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_8534351378</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Subject},&quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,SUBSTITUTE(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;Monto Traspaso $: &quot;,{!myVariable_current.Description}),32),&quot;.&quot;,&quot;&quot;),&quot;Monto Traspaso $: &quot;,&quot;&quot;),
&quot;Ingreso Traspaso APV (IN) a Caja Vida Security&quot;,SUBSTITUTE(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;monto de $&quot;,{!myVariable_current.Description}),23),&quot;.&quot;,&quot;&quot;),&quot;monto de $&quot;,&quot;&quot;),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Case].Subject, &quot;Traspaso APV (IN) Rechazado&quot;, [Case].Subject + &quot; &quot; + MID([Case].Description, FIND(&quot;Póliza Nro : &quot;, [Case].Description), 25), &quot;Solicitud de Rescate Total (OUT)&quot;, [Case].Subject + &quot; &quot;+ MID([Case].Description, FIND(&quot;Póliza Nro : &quot;, [Case].Description), 25), &quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;, &quot;Solicitud de Traspaso APV (OUT) &quot;+ MID([Case].Description, FIND(&quot;Póliza Nro : &quot;, [Case].Description), 25), &quot;Ingreso Traspaso APV (IN) a Caja Vida Security&quot;, [Case].Subject + &quot; &quot; + SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(MID([Case].Description, FIND(&quot;a la póliza &quot;, [Case].Description), 23), &quot;a la &quot;, &quot;&quot;), &quot;,&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;), &quot;de&quot;, &quot;&quot;), &quot;póliza&quot;, &quot;Póliza Nro :  &quot;), &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_9067411491</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Subject}, &quot;Traspaso APV (IN) Rechazado&quot;, {!myVariable_current.Subject} + &quot; &quot; + MID({!myVariable_current.Description}, FIND(&quot;Póliza Nro : &quot;, {!myVariable_current.Description}), 25), &quot;Solicitud de Rescate Total (OUT)&quot;, {!myVariable_current.Subject} + &quot; &quot;+ MID({!myVariable_current.Description}, FIND(&quot;Póliza Nro : &quot;, {!myVariable_current.Description}), 25), &quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;, &quot;Solicitud de Traspaso APV (OUT) &quot;+ MID({!myVariable_current.Description}, FIND(&quot;Póliza Nro : &quot;, {!myVariable_current.Description}), 25), &quot;Ingreso Traspaso APV (IN) a Caja Vida Security&quot;, {!myVariable_current.Subject} + &quot; &quot; + SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;a la póliza &quot;, {!myVariable_current.Description}), 23), &quot;a la &quot;, &quot;&quot;), &quot;,&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;), &quot;de&quot;, &quot;&quot;), &quot;póliza&quot;, &quot;Póliza Nro :  &quot;), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Case].Subject,&quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,SUBSTITUTE(MID([Case].Description, FIND(&quot;Sr(a). : &quot;,[Case].Description),FIND(&quot; Póliza&quot;,[Case].Description)-FIND(&quot;Sr(a). : &quot;,[Case].Description)),&quot;Sr(a). : &quot;,&quot;&quot;),
&quot;Ingreso Traspaso APV (IN) a Caja Vida Security&quot;,SUBSTITUTE(MID([Case].Description, FIND(&quot;Sr(a). &quot;,[Case].Description),FIND(&quot; por&quot;,[Case].Description)-FIND(&quot;Sr(a). &quot;,[Case].Description)),&quot;Sr(a). &quot;,&quot;&quot;),&quot;Solicitud de Rescate Total (OUT)&quot;,SUBSTITUTE(MID([Case].Description, FIND(&quot;Sr(a). :&quot;,[Case].Description),FIND(&quot; Póliza&quot;,[Case].Description)-FIND(&quot;Sr(a). : &quot;,[Case].Description)),&quot;Sr(a). : &quot;,&quot;&quot;),SUBSTITUTE(MID([Case].Description, FIND(&quot;Sr(a). :&quot;,[Case].Description),FIND(&quot; Póliza&quot;,[Case].Description)-FIND(&quot;Sr(a). : &quot;,[Case].Description)),&quot;Sr(a). : &quot;,&quot;&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_8366852539</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Subject},&quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;Sr(a). : &quot;,{!myVariable_current.Description}),FIND(&quot; Póliza&quot;,{!myVariable_current.Description})-FIND(&quot;Sr(a). : &quot;,{!myVariable_current.Description})),&quot;Sr(a). : &quot;,&quot;&quot;),
&quot;Ingreso Traspaso APV (IN) a Caja Vida Security&quot;,SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;Sr(a). &quot;,{!myVariable_current.Description}),FIND(&quot; por&quot;,{!myVariable_current.Description})-FIND(&quot;Sr(a). &quot;,{!myVariable_current.Description})),&quot;Sr(a). &quot;,&quot;&quot;),&quot;Solicitud de Rescate Total (OUT)&quot;,SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;Sr(a). :&quot;,{!myVariable_current.Description}),FIND(&quot; Póliza&quot;,{!myVariable_current.Description})-FIND(&quot;Sr(a). : &quot;,{!myVariable_current.Description})),&quot;Sr(a). : &quot;,&quot;&quot;),SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;Sr(a). :&quot;,{!myVariable_current.Description}),FIND(&quot; Póliza&quot;,{!myVariable_current.Description})-FIND(&quot;Sr(a). : &quot;,{!myVariable_current.Description})),&quot;Sr(a). : &quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Case].Subject, &quot;Traspaso APV (IN) Rechazado&quot;, SUBSTITUTE(SUBSTITUTE(MID([Case].Description, FIND(&quot;Póliza Nro : &quot;, [Case].Description), 25),&quot;Póliza Nro : &quot;,&quot;&quot;),&quot;.&quot;,&quot;&quot;), &quot;Solicitud de Rescate Total (OUT)&quot;,SUBSTITUTE(SUBSTITUTE(MID([Case].Description, FIND(&quot;Póliza Nro : &quot;, [Case].Description), 25),&quot;Póliza Nro : &quot;,&quot;&quot;),&quot;.&quot;,&quot;&quot;), &quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,SUBSTITUTE(SUBSTITUTE(MID([Case].Description, FIND(&quot;Póliza Nro : &quot;, [Case].Description), 25),&quot;Póliza Nro : &quot;,&quot;&quot;),&quot;.&quot;,&quot;&quot;), &quot;Ingreso Traspaso APV (IN) a Caja Vida Security&quot;, SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(MID([Case].Description, FIND(&quot;a la póliza &quot;, [Case].Description), 24), &quot;a la &quot;, &quot;&quot;), &quot;,&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;), &quot;del&quot;, &quot;&quot;), &quot;póliza&quot;, &quot;&quot;), &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A1_8068010397</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Subject}, &quot;Traspaso APV (IN) Rechazado&quot;, SUBSTITUTE(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;Póliza Nro : &quot;, {!myVariable_current.Description}), 25),&quot;Póliza Nro : &quot;,&quot;&quot;),&quot;.&quot;,&quot;&quot;), &quot;Solicitud de Rescate Total (OUT)&quot;,SUBSTITUTE(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;Póliza Nro : &quot;, {!myVariable_current.Description}), 25),&quot;Póliza Nro : &quot;,&quot;&quot;),&quot;.&quot;,&quot;&quot;), &quot;Solicitud de Traspaso APV (OUT) a otra Institución Autorizada&quot;,SUBSTITUTE(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;Póliza Nro : &quot;, {!myVariable_current.Description}), 25),&quot;Póliza Nro : &quot;,&quot;&quot;),&quot;.&quot;,&quot;&quot;), &quot;Ingreso Traspaso APV (IN) a Caja Vida Security&quot;, SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(MID({!myVariable_current.Description}, FIND(&quot;a la póliza &quot;, {!myVariable_current.Description}), 24), &quot;a la &quot;, &quot;&quot;), &quot;,&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;), &quot;del&quot;, &quot;&quot;), &quot;póliza&quot;, &quot;&quot;), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Case].Subject, &quot;Traspaso APV (IN) Rechazado&quot;, &quot;0120H000001B9dcQAC&quot;, &quot;Ingreso Traspaso APV (IN) a Caja Vida Security&quot;, &quot;0120H000001B9dcQAC&quot;, &quot;Solicitud de Rescate Total (OUT)&quot;, &quot;0120H000001B9dbQAC&quot;,&quot;0120H000001B9ddQAC&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A1_4821805163</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Subject}, &quot;Traspaso APV (IN) Rechazado&quot;, &quot;0120H000001B9dcQAC&quot;, &quot;Ingreso Traspaso APV (IN) a Caja Vida Security&quot;, &quot;0120H000001B9dcQAC&quot;, &quot;Solicitud de Rescate Total (OUT)&quot;, &quot;0120H000001B9dbQAC&quot;,&quot;0120H000001B9ddQAC&quot;)</expression>
    </formulas>
    <interviewLabel>Nuevos_Participantes_Campana_Rescate_Traspasos-10_InterviewLabel</interviewLabel>
    <label>Nuevos Participantes Campaña Rescate/Traspasos</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Participante_Traspaso_Rescate</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Campaña Vida Security</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Campana_Vida_Security__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Campa_a_Vida_Security__c</field>
            <value>
                <stringValue>a020H000017uRHjQAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Entidades Traspasos</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Entidades_Traspasos__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_8325885588</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Fecha de Solicitud</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Fecha_de_Solicitud__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_0358893927</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Mensaje Correo</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Mensaje_Correo__c</field>
            <value>
                <elementReference>myVariable_current.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Modalidad</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Modalidad__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_7766917758</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Monto 2 prueba</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Monto_2_prueba__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_8534351378</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Nombre de participante de Campaña</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_9067411491</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Nombres del Cliente</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Nombres_del_Cliente__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_8366852539</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id. del propietario</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Asistencia_Agente</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0H000005FqXSUA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Póliza 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>P_liza_1_Recuperacion__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A1_8068010397</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id. de tipo de registro</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formula_9_myRule_1_A1_4821805163</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>basura caso</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Estado</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Basura</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
