VIDASECURITY-PRO/force-app/main/default/flows/Poliza_Schedule_Cartera_Huerfana.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Decision_Is_Of_Cartera_Herfana</name>
        <label>Decision Is Of Cartera Herfana</label>
        <locationX>990</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Not Of Cartera Herfana</defaultConnectorLabel>
        <rules>
            <name>Is_Of_Cartera_Herfana</name>
            <conditionLogic>( 1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cuenta__r.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005i0000000ij3TAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cuenta__r.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0050H00000B7a0LQAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cuenta__r.isCartera__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Months_More_1</targetReference>
            </connector>
            <label>Is Of Cartera Herfana</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Months_More_1</name>
        <label>Decision Months More 1 ?</label>
        <locationX>611</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Decision_Task_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Months Less</defaultConnectorLabel>
        <rules>
            <name>Months_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cantidad_de_Meses_Sin_Pago__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.isCarteraTaskCreated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Poliza_With_Saving</targetReference>
            </connector>
            <label>Months More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Poliza_With_Saving</name>
        <label>Decision Poliza With Saving</label>
        <locationX>248</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Has_3_or_More</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Poliza With Saving</defaultConnectorLabel>
        <rules>
            <name>Poliza_With_Saving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Con_o_Sin_Ahorro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sin Ahorro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Without_Saving</targetReference>
            </connector>
            <label>Poliza Without Saving</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Task_Created</name>
        <label>Decision Task Created And Month Less?</label>
        <locationX>974</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Task Month More</defaultConnectorLabel>
        <rules>
            <name>Task_Month_Less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cantidad_de_Meses_Sin_Pago__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.isCarteraTaskCreated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Poliza_False</targetReference>
            </connector>
            <label>Task Month Less</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_3_or_More</name>
        <label>Has 3 or More</label>
        <locationX>446</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Not Isn&apos;t Has</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cantidad_de_Meses_Sin_Pago__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_With_Saving</targetReference>
            </connector>
            <label>Yes It Has</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Date_Create_Task</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>DateTime_Create_Task</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Date_Create_Task})+(12/24)</expression>
    </formulas>
    <interviewLabel>Poliza Schedule Cartera Huerfana {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Poliza Schedule Cartera Huerfana</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_With_Saving</name>
        <label>Create Task With Saving</label>
        <locationX>314</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>Update_Poliza_True</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date_Create_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Cuenta__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126S000001YdctQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>DateTime_Create_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No iniciada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Recuperar Pagos Cartera Huérfana - Póliza con ahorro : {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Cuenta__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Cuenta__r.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Without_Saving</name>
        <label>Create Task Without Saving</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Update_Poliza_True</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date_Create_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Cuenta__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126S000001YdctQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>DateTime_Create_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No iniciada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Recuperar Pagos Cartera Huérfana - Póliza sin ahorro : {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Cuenta__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Cuenta__r.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Se actualiza el campo &quot;IsCarteraTaskCreated&quot; a el valor FALSE, esto quiere decir que la poliza volvió a estar al día en sus pagos. Con esta actualización la poliza vuelve a estar disponible para crear una nueva tarea en caso pase a estar como DEUDOR</description>
        <name>Update_Poliza_False</name>
        <label>Update Poliza False</label>
        <locationX>842</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>isCarteraTaskCreated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos el campo &quot;isCarteraTaskCreated&quot; a TRUE, esto indica que ya se ha creado una tarea relacionada a la poliza y no volvera a crearse mientras dicho campo este como TRUE.</description>
        <name>Update_Poliza_True</name>
        <label>Update Poliza True</label>
        <locationX>248</locationX>
        <locationY>1068</locationY>
        <inputAssignments>
            <field>isCarteraTaskCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>864</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Is_Of_Cartera_Herfana</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACTIVA</stringValue>
            </value>
        </filters>
        <object>Poliza__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-03</startDate>
            <startTime>02:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
