VIDASECURITY-PRO/force-app/main/default/flows/Recuperaci_n_Primera_Prima.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Llamada</name>
        <label>Llamada</label>
        <locationX>341</locationX>
        <locationY>265</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Fin_de_Atencion</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>IdPropietario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FechaProximoLlamado</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Actualizacion_Datos_Personales</name>
        <label>Actualización Datos Personales</label>
        <locationX>1201</locationX>
        <locationY>18</locationY>
        <assignmentItems>
            <assignToReference>NombresCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombres_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApellidosCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apellidos_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RUTCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RUT_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DVCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DV_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DireccionPAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Direccion_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComunaPat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comuna_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CiudadPat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ciudad_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NTarjetaCredito</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TarjetaCreditoPATNUMERO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TipoTarjetaCredito</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TipoTarjetaCreditoCambio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FechaVencimientoCreditoPAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Texto_Enriquecido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TelefonoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TelefonoClientePAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TipoEndoso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipodeendososiclaro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizacion_Datos_Participante</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>B</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>C</name>
        <choiceText>C</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Disponible</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_PAT</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_PoseeTarjeta</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Titular</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_Disponible</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>SI_PAT</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_PoseeTarjeta</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_Titular</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sin_Informacion</name>
        <choiceText>Sin Información</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sin Información</stringValue>
        </value>
    </choices>
    <choices>
        <name>X0</name>
        <choiceText>0</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X7</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Cliente_Disponible</name>
        <label>Decision Cliente Disponible</label>
        <locationX>16</locationX>
        <locationY>6</locationY>
        <defaultConnector>
            <targetReference>SolicitarHorario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Disponible</defaultConnectorLabel>
        <rules>
            <name>Si_Disponible_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente_Disponible_Marcar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bienvenida</targetReference>
            </connector>
            <label>Si Disponible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desea_Mandato_PAT</name>
        <label>Desea Mandato ¨PAT</label>
        <locationX>418</locationX>
        <locationY>9</locationY>
        <defaultConnector>
            <targetReference>Derivar_a_PAC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PAT</defaultConnectorLabel>
        <rules>
            <name>SI_Mandato_PAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mandato_PAT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Titular_Tarjeta</targetReference>
            </connector>
            <label>Si PAT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Posee_Tarjeta_Titular</name>
        <label>Posee Tarjeta Titular</label>
        <locationX>807</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Despedida_sintarjeta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No posee tarjeta</defaultConnectorLabel>
        <rules>
            <name>Si_Persona_Natural</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Posee_Tarjeta_Natural</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si_PoseeTarjeta</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datos_Personales</targetReference>
            </connector>
            <label>Si Posee Tarjeta Natural</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_Titular_Tarjeta_PAT</name>
        <label>Si Titular</label>
        <locationX>808</locationX>
        <locationY>16</locationY>
        <defaultConnector>
            <targetReference>Posee_Tarjeta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Titular</defaultConnectorLabel>
        <rules>
            <name>Si_Titular_Tarjeta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Titular_Tarjeta_Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datos_Personales</targetReference>
            </connector>
            <label>Si Titular</label>
        </rules>
    </decisions>
    <description>Flow para recuperación de primera prima</description>
    <dynamicChoiceSets>
        <name>tipo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_tarjeta_de_cr_dito_PAT__c</picklistField>
        <picklistObject>Participantes_de_Campa_a__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipoTarjetaCredito1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_tarjeta_de_cr_dito_PAT__c</picklistField>
        <picklistObject>Participantes_de_Campa_a__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Recuperación Primera Prima {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recuperación Primera Prima</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Contacto</name>
        <label>Buscar Contacto</label>
        <locationX>18</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Producto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CiudadCliente</assignToReference>
            <field>Ciudad_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ComunaCliente</assignToReference>
            <field>Comuna_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DVCliente</assignToReference>
            <field>DV_contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DireccionCliente</assignToReference>
            <field>Direccion_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombresCliente</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefonoCliente</assignToReference>
            <field>HomePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApellidosCliente</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegionCliente</assignToReference>
            <field>Region_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RUTCliente</assignToReference>
            <field>Rut_contacto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Participante_de_Campana</name>
        <label>Buscar Participante de Campaña</label>
        <locationX>17</locationX>
        <locationY>461</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <object>Participantes_de_Campa_a__c</object>
        <outputAssignments>
            <assignToReference>CantidadPolizas</assignToReference>
            <field>Cantidad_Polizas_mismo_periodo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CiudadPat</assignToReference>
            <field>Ciudad_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ComunaPat</assignToReference>
            <field>Comuna_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contacto_ID</assignToReference>
            <field>Contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DireccionPAT</assignToReference>
            <field>Direcci_n_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEjecutiva</assignToReference>
            <field>EjecutivaConexion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FechaVencimientoCreditoPAT</assignToReference>
            <field>Fecha_vencimiento_Credito_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NTarjetaCredito</assignToReference>
            <field>N_de_Tarjeta_de_Cr_dito__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Productos</assignToReference>
            <field>Nombres_de_Productos__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdPropietario</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Poliza_ID</assignToReference>
            <field>Poliza__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefonoContactoPAT</assignToReference>
            <field>Tel_fono_Contacto_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoEndoso</assignToReference>
            <field>Tipo_Endoso_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoTarjetaCredito</assignToReference>
            <field>Tipo_de_tarjeta_de_cr_dito_PAT__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Producto</name>
        <label>Buscar Producto</label>
        <locationX>15</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_Disponible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Poliza_ID</elementReference>
            </value>
        </filters>
        <object>Poliza__c</object>
        <outputAssignments>
            <assignToReference>MesVigencia</assignToReference>
            <field>Mes_de_Sometimiento__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NPoliza</assignToReference>
            <field>N_Poliza__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreProducto</assignToReference>
            <field>Nombre_de_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoProducto</assignToReference>
            <field>Tipo_Producto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizacion_Datos_Participante</name>
        <label>Actualizacion Datos Participante</label>
        <locationX>1201</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>Datos_Contacto_Actualizados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ciudad_PAT__c</field>
            <value>
                <elementReference>CiudadPat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comuna_PAT__c</field>
            <value>
                <elementReference>ComunaPat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direcci_n_PAT__c</field>
            <value>
                <elementReference>DireccionPAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_vencimiento_Credito_PAT__c</field>
            <value>
                <elementReference>FechaVencimientoCreditoPAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_de_Tarjeta_de_Cr_dito__c</field>
            <value>
                <elementReference>NTarjetaCredito</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_fono_Contacto_PAT__c</field>
            <value>
                <elementReference>TelefonoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Endoso_PAT__c</field>
            <value>
                <elementReference>Tipodeendososiclaro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_tarjeta_de_cr_dito_PAT__c</field>
            <value>
                <elementReference>TipoTarjetaCredito</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <screens>
        <name>Agradecimiento</name>
        <label>Agradecimiento</label>
        <locationX>1035</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fin_de_Atencion</targetReference>
        </connector>
        <fields>
            <name>Agradecimiento_final</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Agradecimiento&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScriptAgradecimiento</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Perfecto Sr/a &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;&lt;/FONT&gt;, entonces fecha de hoy &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!$Flow.CurrentDate}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt; &lt;/B&gt;hemos solicitado la suscripción del mandato PAT para su póliza &lt;/FONT&gt;&lt;B&gt;{!NPoliza}&lt;/B&gt;&lt;/FONT&gt;, recuerde que el cargo se efectuará cada día 9 por un valor de XX, mensual. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tx34</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tx33</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;La grabación será respaldada por la compañía como medio de autorización y en caso que ud desee eliminar este mandato, lo puede efectuar directamente en la página web de su institución emisora.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX31</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX32</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Recuerde los beneficios del club viva con descuentos asociados en diversos ítems, ingresando a clubviva.cl&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX45</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX65</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Muchas gracias por su tiempo, que tenga un muy buen día.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bienvenida</name>
        <label>Bienvenida</label>
        <locationX>230</locationX>
        <locationY>6</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Desea_Mandato_PAT</targetReference>
        </connector>
        <fields>
            <name>SaludoCliente</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Campaña Bienvenida&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Cliente</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sr. (a): &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Ejecutiva</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mucho gusto, mi Nombre es &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombreEjecutiva}&lt;/B&gt;&lt;/FONT&gt;, lo/la  estoy llamando del departamento de servicio al cliente de Vida Security, ¿Cómo está?&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Bienvenida</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nuestro llamado es para informar que su producto contratado con nuestra compañía, &lt;B&gt;{!NombreProducto}&lt;/B&gt; no podrá recaudar mensualmente dado que el mandato PAT suscrito, ha sido rechazado por su institución emisora por (motivo).&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bienvenida4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sin embargo, a fin de evitar primas impagas, la compañía permite suscribir un mandato PAT vía telefónica, ud desea hacer la suscripción de su cargo automático en tarjeta vía telefónica?.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mandato_PAT</name>
            <choiceReferences>SI_PAT</choiceReferences>
            <choiceReferences>No_PAT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Acepta Mandato PAT?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cliente_Disponible</name>
        <label>Cliente Disponible</label>
        <locationX>14</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Cliente_Disponible</targetReference>
        </connector>
        <fields>
            <name>Presentacion</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Presentación&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConsultaAsegurado</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Buenos días / tardes, en este número ubico al Sr.(sra) {!NombresCliente} {!ApellidosCliente}?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cliente_Disponible_Marcar</name>
            <choiceReferences>Si_Disponible</choiceReferences>
            <choiceReferences>No_Disponible</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cliente Disponible&lt;FONT FACE=&quot;Arial&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_Contacto_Actualizados</name>
        <label>Datos Contacto Actualizados</label>
        <locationX>1033</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Agradecimiento</targetReference>
        </connector>
        <fields>
            <name>CA1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Datos Cliente&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nombre : &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC5</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Rut: &lt;B&gt;{!RUTCliente}-{!DVCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TlefonoClientePATT</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Teléfono Cliente: &lt;B&gt;{!TelefonoCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC11</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dirección: &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!DireccionPAT}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comuna: &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!ComunaPat}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ciudad: &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!CiudadPat}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC7</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Tipo Tarjeta: &lt;B&gt;{!TipoTarjetaCredito}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;N° Tarjeta Crédito:&lt;B&gt; {!NTarjetaCredito}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Fecha Vencimiento Tarjeta Crédito: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!FechaVencimientoCreditoPAT}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_Personales</name>
        <label>Datos Personales</label>
        <locationX>1019</locationX>
        <locationY>15</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizacion_Datos_Personales</targetReference>
        </connector>
        <fields>
            <name>DP1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Actualización Datos Personales&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DP2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DP3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Perfecto, entonces haremos la suscripción de su mandato PAT, que no tomará más de 5 minutos. Necesitamos corroborar sus datos y los de su tarjeta asociada por favor:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tx</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DP4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;En relación a ud como titular de la tarjeta:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1)	Su nombre completo es &lt;B&gt;Responde Cliente:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nombres_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NombresCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nombres Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Apellidos_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApellidosCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Apellidos Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TelefonoClientePAT</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefonoCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Teléfono Cliente&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>tx2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DP6</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2)	Su rut &lt;B&gt;Responde Cliente&lt;/B&gt;:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RUT_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RUTCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;RUT Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DV_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DVCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;DV Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>tx3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DP7</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3)	Y su dirección sigue siendo &lt;B&gt;Responde Cliente:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Direccion_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DireccionCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dirección Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comuna_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ComunaCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comuna Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ciudad_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CiudadCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ciudad Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DP5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX63</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;4) En relación a la tarjeta de crédito a asociar:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿El tipo de tarjeta es VISA, MASTERCARD, DINERS o AMEX?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TipoTarjetaCreditoCambio</name>
            <choiceReferences>TipoTarjetaCredito1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Tipo Tarjeta de Crédito&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Texto_Enriquecido</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FechaVencimientoCreditoPAT</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Fecha Vencimiento: &lt;FONT FACE=&quot;Arial&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Formato MM/AAAA</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TarjetaCreditoPATNUMERO</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>NTarjetaCredito</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;N° Tarjeta Crédito&lt;FONT FACE=&quot;Arial&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Debe tener 16 números</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Derivar_a_PAC</name>
        <label>Derivar a PAC</label>
        <locationX>419</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fin_de_Atencion</targetReference>
        </connector>
        <fields>
            <name>DerivarPAC</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Derivar&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OfrecerFormulario</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Entonces, ¿Desea hacerlo vía formulario? En dicho caso, yo le envío los documentos vía email, ud los completa y los regresa vía email también junto a la fotocopia de su CI, este procedimiento eso sí, puede ser activado a partir de un mes aprox, por lo que su primera prima podría ser pagada vía transferencia. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;(Confirmar email y entregar datos de transferencia, una vez finalizado, protocolo de despedida)&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX5</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Muchas gracias por su tiempo Sr/Sra {!NombresCliente} {!ApellidosCliente}, que tenga buen día.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Despedida_sintarjeta</name>
        <label>Despedida</label>
        <locationX>586</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fin_de_Atencion</targetReference>
        </connector>
        <fields>
            <name>Despedida</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Despedida&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DespedidaNoTarjeta</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;En dicho caso Sr/Sra no será factible suscribir un mandato PAT.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Busquemos otra forma de pago (Revisar otra forma de pago y derivar según corresponda, luego aplicar protocolo de despedida).&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Muchas gracias Sr/a por su tiempo, que tenga un muy buen día.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fin_de_Atencion</name>
        <label>Fin de Atención</label>
        <locationX>585</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fin</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;*** Fin de la Atención. Por favor cierre esta página pinchando la &lt;/I&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;B&gt;&lt;I&gt;[&lt;/I&gt;&lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;&lt;I&gt;X&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;&lt;I&gt;]&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;I&gt; del navegador ***&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Posee_Tarjeta</name>
        <label>Posee Tarjeta</label>
        <locationX>806</locationX>
        <locationY>144</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Posee_Tarjeta_Titular</targetReference>
        </connector>
        <fields>
            <name>ConsultaNatural</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Consultar&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Poseetarjetaensupoder</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Tiene usted alguna tarjeta de crédito a su nombre como persona natural? Ya que es la única forma de que podamos asociar su pago de póliza mensual&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Posee_Tarjeta_Natural</name>
            <choiceReferences>No_PoseeTarjeta</choiceReferences>
            <choiceReferences>Si_PoseeTarjeta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Posee Tarjeta Natural&lt;FONT FACE=&quot;Arial&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SolicitarHorario</name>
        <label>Solicitar Horario</label>
        <locationX>202</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Llamada</targetReference>
        </connector>
        <fields>
            <name>SaludoCliente_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Campaña Bienvenida&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Cliente_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿En qué horario es posible ubicarlo/a? Lo/a llamamos de Vida Security para la entrega de información importante. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX9</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Muy amable muchas gracias por su tiempo, hasta luego.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FechaProximoLlamado</name>
            <dataType>Date</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Fecha Próximo Llamado&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Titular_Tarjeta</name>
        <label>Titular Tarjeta</label>
        <locationX>620</locationX>
        <locationY>13</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Si_Titular_Tarjeta_PAT</targetReference>
        </connector>
        <fields>
            <name>TitularTarjetaConsulta</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Consultar&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmarTitular</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Antes de continuar, para su seguridad, recuerde que esta conversación está siendo grabada, y quisiéramos confirmar, que la tarjeta está a su nombre como persona natural.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Titular_Tarjeta_Decision</name>
            <choiceReferences>Si_Titular</choiceReferences>
            <choiceReferences>No_Titular</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Titular Tarjeta&lt;FONT FACE=&quot;Arial&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Buscar_Participante_de_Campana</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApellidosCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficioCVM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CantidadPolizas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CiudadCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CiudadPat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaveInternet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComentarioCalidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComunaCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComunaPat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contacto_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DireccionCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DireccionPAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Fecha de Vencimiento de Tarjeta de Crédito para PAT</description>
        <name>FechaVencimientoCreditoPAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_Participante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdPropietario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MesVigencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreEjecutiva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombresCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotaCalidad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NPoliza</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Numero de Tarjeta de Crédito</description>
        <name>NTarjetaCredito</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumeroPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Poliza_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Productos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecibioPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RUTCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SinComentario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelefonoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TelefonoContactoPAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tipodeendososiclaro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cambio de tipo de pago</stringValue>
        </value>
    </variables>
    <variables>
        <name>TipoEndoso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoEndososi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Cambio de tipo de pago&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>TipoProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Tipo de Tarjeta de Crédito para PAT</description>
        <name>TipoTarjetaCredito</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
