VIDASECURITY-PRO/force-app/main/default/flows/Script_Empleador.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Llamada</name>
        <label>Llamada</label>
        <locationX>338</locationX>
        <locationY>322</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Agradecimiento</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>IdPropietario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FechaProximoLlamado</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Actualizacion_Datos_Personales</name>
        <label>Actualizacion Datos Personales</label>
        <locationX>1200</locationX>
        <locationY>7</locationY>
        <assignmentItems>
            <assignToReference>NombresdelCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombres_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApellidosCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apellidos_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RUTCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RUT_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DVCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DV_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DireccionPAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Direccion_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComunaPat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comuna_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CiudadPat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ciudad_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TelefonoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TelefonoCliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreEmpleador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreEmpresa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TelefonoEmpleador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TelefonoEmpresa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailEmpleador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailEmpresa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreEmpleadorEmpresa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreEmpresaEmpleador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactoempresa2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombreencargado2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DireccionEmpleador2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>direccioncontacto2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailEmpleador2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailcontacto2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>telefonoempleador2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Telefonocontacto2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>direccionempleador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>direccioncontacto1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizacion_Datos_Participante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_comentario</name>
        <label>Asignar comentario</label>
        <locationX>657</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Comentario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ingrese_Comentario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_de_comentario</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>B</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>C</name>
        <choiceText>C</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Disponible</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Entrega</name>
        <choiceText>No entrega datos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_PAT</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_PoseeTarjeta</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nocontactoejecutiva</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nootraformadepago</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_Disponible</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_Entrega</name>
        <choiceText>Si Entrega Datos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>SI_PAT</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_PoseeTarjeta</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sicontactoejecutiva</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sin_Informacion</name>
        <choiceText>Sin Información</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sin Información</stringValue>
        </value>
    </choices>
    <choices>
        <name>Siotraformadepago</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>X0</name>
        <choiceText>0</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X7</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Contactoaejecutiva</name>
        <label>Contacto a ejecutiva</label>
        <locationX>569</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Derivar_a_ejecutiva_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ejecutiva</defaultConnectorLabel>
        <rules>
            <name>Si_ejecutiva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contactoconejecutiva</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Derivar_a_ejecutiva_0</targetReference>
            </connector>
            <label>Si ejecutiva</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Cliente_Disponible</name>
        <label>Decision Cliente Disponible</label>
        <locationX>16</locationX>
        <locationY>6</locationY>
        <defaultConnector>
            <targetReference>SolicitarHorario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Disponible</defaultConnectorLabel>
        <rules>
            <name>Si_Disponible_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente_Disponible_Marcar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bienvenida</targetReference>
            </connector>
            <label>Si Disponible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mismo_Empleador</name>
        <label>Mismo Empleador</label>
        <locationX>418</locationX>
        <locationY>9</locationY>
        <defaultConnector>
            <targetReference>Entregar_Datos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si Empleador</defaultConnectorLabel>
        <rules>
            <name>NO_Empleador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mandato_Empleador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Derivar_a_ejecutiva</targetReference>
            </connector>
            <label>No Empleador</label>
        </rules>
    </decisions>
    <decisions>
        <name>Otraformadepago2</name>
        <label>Otraformadepago</label>
        <locationX>566</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>Derivar_a_ejecutiva_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No otra forma</defaultConnectorLabel>
        <rules>
            <name>Si_otra_forma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Otraformadepago</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Derivar_a_ejecutiva_0</targetReference>
            </connector>
            <label>Si otra forma</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>tipo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_tarjeta_de_cr_dito_PAT__c</picklistField>
        <picklistObject>Participantes_de_Campa_a__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Script Empleador {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Script Empleador</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Contacto</name>
        <label>Buscar Contacto</label>
        <locationX>18</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Producto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CiudadCliente</assignToReference>
            <field>Ciudad_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ComunaCliente</assignToReference>
            <field>Comuna_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DVCliente</assignToReference>
            <field>DV_contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DireccionCliente</assignToReference>
            <field>Direccion_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombresCliente</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefonoCliente</assignToReference>
            <field>HomePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApellidosCliente</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegionCliente</assignToReference>
            <field>Region_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RUTCliente</assignToReference>
            <field>Rut_contacto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Participante_de_Campana</name>
        <label>Buscar Participante de Campaña</label>
        <locationX>17</locationX>
        <locationY>461</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <object>Participantes_de_Campa_a__c</object>
        <outputAssignments>
            <assignToReference>CantidadPolizas</assignToReference>
            <field>Cantidad_Polizas_mismo_periodo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CiudadPat</assignToReference>
            <field>Ciudad_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Comentario</assignToReference>
            <field>Comentario__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ComunaPat</assignToReference>
            <field>Comuna_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contacto_ID</assignToReference>
            <field>Contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DireccionEmpleador2</assignToReference>
            <field>Direcci_n_Empleador_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>direccionempleador</assignToReference>
            <field>Direcci_n_Empleador__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DireccionPAT</assignToReference>
            <field>Direcci_n_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEjecutiva</assignToReference>
            <field>EjecutivaConexion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailEmpleador2</assignToReference>
            <field>Email_Empleador_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailEmpleador</assignToReference>
            <field>Email_Empleador__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FechaVencimientoCreditoPAT</assignToReference>
            <field>Fecha_vencimiento_Credito_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoCampana</assignToReference>
            <field>Mandato_Final__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NTarjetaCredito</assignToReference>
            <field>N_de_Tarjeta_de_Cr_dito__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contactoempresa2</assignToReference>
            <field>Nombre_Contacto_Empleador_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEmpleador</assignToReference>
            <field>Nombre_Contacto_Empleador__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEmpleadorEmpresa</assignToReference>
            <field>Nombre_Empleador__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Productos</assignToReference>
            <field>Nombres_de_Productos__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombresdelCliente</assignToReference>
            <field>Nombres_del_Cliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdPropietario</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Poliza_ID</assignToReference>
            <field>Poliza__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>telefonoempleador2</assignToReference>
            <field>Tel_fono_Empleador_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefonoEmpleador</assignToReference>
            <field>Tel_fono_Empleador__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoTarjetaCredito</assignToReference>
            <field>Tipo_de_tarjeta_de_cr_dito_PAT__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Producto</name>
        <label>Buscar Producto</label>
        <locationX>15</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_Disponible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Poliza_ID</elementReference>
            </value>
        </filters>
        <object>Poliza__c</object>
        <outputAssignments>
            <assignToReference>MesVigencia</assignToReference>
            <field>Mes_de_Sometimiento__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NPoliza</assignToReference>
            <field>N_Poliza__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreProducto</assignToReference>
            <field>Nombre_de_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoProducto</assignToReference>
            <field>Tipo_Producto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizacion_Datos_Participante</name>
        <label>Actualizacion Datos Participante</label>
        <locationX>1201</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>Datos_Contacto_Actualizados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ciudad_PAT__c</field>
            <value>
                <elementReference>CiudadPat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comuna_PAT__c</field>
            <value>
                <elementReference>ComunaPat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direcci_n_Empleador_2__c</field>
            <value>
                <elementReference>DireccionEmpleador2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direcci_n_Empleador__c</field>
            <value>
                <elementReference>direccionempleador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direcci_n_PAT__c</field>
            <value>
                <elementReference>DireccionPAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Empleador_2__c</field>
            <value>
                <elementReference>EmailEmpleador2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Empleador__c</field>
            <value>
                <elementReference>EmailEmpleador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_Contacto_Empleador_2__c</field>
            <value>
                <elementReference>Contactoempresa2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_Contacto_Empleador__c</field>
            <value>
                <elementReference>NombreEmpleador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_Empleador__c</field>
            <value>
                <elementReference>NombreEmpleadorEmpresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_fono_Empleador_2__c</field>
            <value>
                <elementReference>telefonoempleador2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_fono_Empleador__c</field>
            <value>
                <elementReference>TelefonoEmpleador</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asignacion_de_comentario</name>
        <label>Asignacion de comentario</label>
        <locationX>697</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Agradecimiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comentario__c</field>
            <value>
                <elementReference>Comentario</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <screens>
        <name>Agradecimiento</name>
        <label>Agradecimiento</label>
        <locationX>811</locationX>
        <locationY>867</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fin_de_Atencion</targetReference>
        </connector>
        <fields>
            <name>Agradecimiento_final</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Agradecimiento&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tx34</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScriptAgradecimiento</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Muchas gracias por su tiempo Sr/Sra &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt; &lt;/FONT&gt;, y recuerde los beneficios del club viva con descuentos asociados en diversos ítems, ingresando a clubviva.cl, que tenga un muy buen día.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bienvenida</name>
        <label>Bienvenida</label>
        <locationX>229</locationX>
        <locationY>7</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Mismo_Empleador</targetReference>
        </connector>
        <fields>
            <name>SaludoCliente</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Campaña Bienvenida&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Cliente</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sr. (a): &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Ejecutiva</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mucho gusto, mi Nombre es &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombreEjecutiva}&lt;/B&gt;&lt;/FONT&gt;, lo/la  estoy llamando del departamento de servicio al cliente de Vida Security, ¿Cómo está?&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Bienvenida</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nuestro llamado es para informar que su producto contratado con nuestra compañía, &lt;B&gt;{!NombreProducto}&lt;/B&gt; no está recaudando, y no hemos logrado contactar a su empleador, ¿Usted sigue trabajando para &lt;B&gt;{!NombreEmpleadorEmpresa}&lt;/B&gt;?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mandato_Empleador</name>
            <choiceReferences>SI_PAT</choiceReferences>
            <choiceReferences>No_PAT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;¿Trabaja con mismo empleador?&lt;/B&gt;&lt;FONT FACE=&quot;Arial&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cliente_Disponible</name>
        <label>Cliente Disponible</label>
        <locationX>14</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Cliente_Disponible</targetReference>
        </connector>
        <fields>
            <name>Presentacion</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Presentación&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConsultaAsegurado</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Buenos días / tardes, en este número ubico al Sr.(sra) {!NombresCliente} {!ApellidosCliente}?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cliente_Disponible_Marcar</name>
            <choiceReferences>Si_Disponible</choiceReferences>
            <choiceReferences>No_Disponible</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cliente Disponible&lt;FONT FACE=&quot;Arial&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_Contacto_Actualizados</name>
        <label>Datos Contacto Actualizados</label>
        <locationX>1033</locationX>
        <locationY>270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Agradecimiento</targetReference>
        </connector>
        <fields>
            <name>CA1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Datos Cliente&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nombre : &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC5</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Rut: &lt;B&gt;{!RUTCliente}-{!DVCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC11</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dirección: &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!DireccionPAT}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comuna: &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!ComunaPat}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ciudad: &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!CiudadPat}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DC7</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nombre Empresa: &lt;B&gt;{!NombreEmpleadorEmpresa}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nombre Contacto Empresa:&lt;B&gt; &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombreEmpleador}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Teléfono Contacto 1: &lt;B&gt;{!TelefonoEmpleador}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Email Contacto 1: &lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt;{!EmailEmpleador}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Dirección Contacto 1: &lt;B&gt;{!direccionempleador} &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sda211</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sas232</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nombre Contacto Empresa 2: &lt;B&gt;{!Contactoempresa2}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Teléfono Empleador: &lt;B&gt;{!telefonoempleador2}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Email Empleador: &lt;B&gt;{!EmailEmpleador2}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Dirección Contacto 2: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!DireccionEmpleador2}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_Personales</name>
        <label>Datos Personales</label>
        <locationX>863</locationX>
        <locationY>12</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizacion_Datos_Personales</targetReference>
        </connector>
        <fields>
            <name>DP1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Actualización Datos Personales&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tx</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DP4</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1)	Su nombre completo es &lt;B&gt;Responde Cliente:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nombres_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NombresdelCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nombres Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Apellidos_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApellidosCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Apellidos Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>tx2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DP6</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2)	Su rut &lt;B&gt;Responde Cliente&lt;/B&gt;:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RUT_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RUTCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;RUT Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DV_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DVCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;DV Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>tx3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DP7</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3)	Y su dirección sigue siendo &lt;B&gt;Responde Cliente:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Direccion_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DireccionCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dirección Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comuna_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ComunaCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comuna Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ciudad_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CiudadCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ciudad Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DP5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX63</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;4) En relación a su empleador, ¿me puede indicar los siguientes datos?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NombreEmpresaEmpleador</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NombreEmpleadorEmpresa</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Nombre Empresa&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NombreEmpresa</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NombreEmpleador</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Nombre Encargado 1&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TelefonoEmpresa</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefonoEmpleador</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Teléfono Contacto 1&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmailEmpresa</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EmailEmpleador</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Contacto 1&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>direccioncontacto1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>direccionempleador</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dirección Contacto 1&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Nombreencargado2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contactoempresa2</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Nombre Encargado 2&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Telefonocontacto2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>telefonoempleador2</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Teléfono Contacto 2&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>emailcontacto2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EmailEmpleador2</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email Contacto 2&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>direccioncontacto2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DireccionEmpleador2</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dirección Contacto 2&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Derivar_a_ejecutiva</name>
        <label>Derivar a Ejecutiva</label>
        <locationX>418</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contactoaejecutiva</targetReference>
        </connector>
        <fields>
            <name>DerivarPAC</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Derivar&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OfrecerFormulario</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Entonces, a fin de evitar desfases o caducidad de la póliza, es necesario firmar una nueva ley de descuentos, ¿Envío un requerimiento a su ejecutiva para que la contacte?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contactoconejecutiva</name>
            <choiceReferences>Sicontactoejecutiva</choiceReferences>
            <choiceReferences>Nocontactoejecutiva</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;¿Quiere contacto con ejecutiva?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Derivar_a_ejecutiva_0</name>
        <label>Derivar a Ejecutiva</label>
        <locationX>792</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Agradecimiento</targetReference>
        </connector>
        <fields>
            <name>DerivarPAC_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Derivar&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OfrecerFormulario_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Perfecto, entonces finalizando la llamada haremos la solicitud a su ejecutiva.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX6_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Derivar_a_ejecutiva_1</name>
        <label>Derivar a Ejecutiva</label>
        <locationX>571</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Otraformadepago2</targetReference>
        </connector>
        <fields>
            <name>DerivarPAC_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Otra forma de pago&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OfrecerFormulario_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;En dicho caso, ¿Desea activar otra forma de pago? Para ello también necesitamos verlo con su ejecutiva o directo ud en sucursal ya que se debe firmar una ley de revocación.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX6_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Otraformadepago</name>
            <choiceReferences>Siotraformadepago</choiceReferences>
            <choiceReferences>Nootraformadepago</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;¿Otra forma de pago?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Derivar_a_ejecutiva_1_1</name>
        <label>Derivar a Ejecutiva</label>
        <locationX>622</locationX>
        <locationY>424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignar_comentario</targetReference>
        </connector>
        <fields>
            <name>DerivarPAC_1_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Comentario&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OfrecerFormulario_1_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;¿Algún motivo en particular para poder dejar el registro?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX6_1_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ingrese_Comentario</name>
            <defaultValue>
                <elementReference>Comentario</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Ingrese Comentario&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entregar_Datos</name>
        <label>Entrega Datos</label>
        <locationX>625</locationX>
        <locationY>12</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Datos_Personales</targetReference>
        </connector>
        <fields>
            <name>TitularTarjetaConsulta</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Consultar&lt;/U&gt;&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmarTitular</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;En dicho caso, podríamos enviar la ley de descuento a su email para que ud la presente con el encargado de remuneraciones, o bien, podemos hacer el envío directo ya que según lo informado en la contratación, fue enviado en formato físico a la dirección XX y al email XX, ¿Es posible nos confirme esos datos?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Entrega_Datos</name>
            <choiceReferences>Si_Entrega</choiceReferences>
            <choiceReferences>No_Entrega</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Entrega Datos&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fin_de_Atencion</name>
        <label>Fin de Atención</label>
        <locationX>1065</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fin</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;*** Fin de la Atención. Por favor cierre esta página pinchando la &lt;/I&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;B&gt;&lt;I&gt;[&lt;/I&gt;&lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;&lt;I&gt;X&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;&lt;I&gt;]&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;I&gt; del navegador ***&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SolicitarHorario</name>
        <label>Solicitar Horario</label>
        <locationX>194</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Llamada</targetReference>
        </connector>
        <fields>
            <name>SaludoCliente_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Campaña Bienvenida&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Cliente_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿En qué horario es posible ubicarlo/a? Lo/a llamamos de Vida Security para la entrega de información importante. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX9</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Muy amable muchas gracias por su tiempo, hasta luego.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FechaProximoLlamado</name>
            <dataType>Date</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Fecha Próximo Llamado&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Buscar_Participante_de_Campana</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApellidosCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficioCVM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CantidadPolizas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CiudadCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CiudadPat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaveInternet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Comentario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComentarioCalidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComunaCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComunaPat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contacto_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contactoempresa2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DireccionCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>direccionempleador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DireccionEmpleador2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DireccionPAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailEmpleador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailEmpleador2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Fecha de Vencimiento de Tarjeta de Crédito para PAT</description>
        <name>FechaVencimientoCreditoPAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_Participante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdPropietario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MesVigencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreEjecutiva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreEmpleador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreEmpleadorEmpresa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombresCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombresdelCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotaCalidad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NPoliza</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Numero de Tarjeta de Crédito</description>
        <name>NTarjetaCredito</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumeroPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PAT</stringValue>
        </value>
    </variables>
    <variables>
        <name>Poliza_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Productos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecibioPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RUTCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SinComentario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelefonoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TelefonoEmpleador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>telefonoempleador2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoCampana</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Tipo de Tarjeta de Crédito para PAT</description>
        <name>TipoTarjetaCredito</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
