VIDASECURITY-PRO/force-app/main/default/flows/Script_PAC_Firma_Disconforme.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Llamada</name>
        <label>Llamada</label>
        <locationX>319</locationX>
        <locationY>277</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Agradecimiento</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>IdPropietario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FechaProximoLlamado</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Actualizacion_estado_gestion</name>
        <label>Actualizacion estado gestion</label>
        <locationX>1250</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>EstadoGestion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EstadoGestionParticipante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Estadodecierre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estadocierreentrada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_estado_gestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizacion_estado_gestion_0</name>
        <label>Actualizacion estado gestion</label>
        <locationX>744</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>EstadoGestion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EstadoGestionParticipante_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Estadodecierre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estadocierreentrada_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_estado_gestion_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Datos_PAT</name>
        <label>Asignacion Datos PAT</label>
        <locationX>1046</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>NombresCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombres_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApellidosCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apellidos_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RUTCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RUT_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DVCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DV_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DireccionPAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Direccion_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComunaPat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comuna_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CiudadPat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ciudad_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NTarjetaCredito</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NTarjetaCredito1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TipoTarjetaCredito</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TipoTarjetaCreditoCambio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FechaVencimientoCreditoPAT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_Vencimiento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TelefonoCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Telefono_Cliente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Datos_Participante</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>B</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>C</name>
        <choiceText>C</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_contacto</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Disponible</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Entrega</name>
        <choiceText>No entrega datos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Pat</name>
        <choiceText>No Pat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_PoseeTarjeta</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>SI_contacto</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_Disponible</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_Entrega</name>
        <choiceText>Si Entrega Datos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_PAT</name>
        <choiceText>Si PAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si_PoseeTarjeta</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sin_Informacion</name>
        <choiceText>Sin Información</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sin Información</stringValue>
        </value>
    </choices>
    <choices>
        <name>X0</name>
        <choiceText>0</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X7</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Cliente_Disponible</name>
        <label>Decision Cliente Disponible</label>
        <locationX>16</locationX>
        <locationY>6</locationY>
        <defaultConnector>
            <targetReference>SolicitarHorario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Disponible</defaultConnectorLabel>
        <rules>
            <name>Si_Disponible_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente_Disponible_Marcar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bienvenida</targetReference>
            </connector>
            <label>Si Disponible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quiere_Pat</name>
        <label>Quiere Pat</label>
        <locationX>872</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>Enviar_Procedimiento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Cambia a PAT</defaultConnectorLabel>
        <rules>
            <name>Cambia_a_PAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cambioapat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datos_Personales</targetReference>
            </connector>
            <label>Cambia a PAT</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuiereAyuda</name>
        <label>Desdea Ayuda</label>
        <locationX>622</locationX>
        <locationY>13</locationY>
        <defaultConnector>
            <targetReference>Caso_para_Ejecutiva_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Ayuda</defaultConnectorLabel>
        <rules>
            <name>Si_Ayuda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeseaAyuda</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caso_para_Ejecutiva</targetReference>
            </connector>
            <label>Si Ayuda</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Estadodecierreeleccion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estado_Cierre__c</picklistField>
        <picklistObject>Participantes_de_Campa_a__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EstadodeGestion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estado_de_Gesti_n_Primera_Prima__c</picklistField>
        <picklistObject>Participantes_de_Campa_a__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_tarjeta_de_cr_dito_PAT__c</picklistField>
        <picklistObject>Participantes_de_Campa_a__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipoTarjetaCredito1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipo_de_tarjeta_de_cr_dito_PAT__c</picklistField>
        <picklistObject>Participantes_de_Campa_a__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Script PAC Firma Disconforme {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Script PAC Firma Disconforme</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Contacto</name>
        <label>Buscar Contacto</label>
        <locationX>18</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Producto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CiudadCliente</assignToReference>
            <field>Ciudad_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ComunaCliente</assignToReference>
            <field>Comuna_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DVCliente</assignToReference>
            <field>DV_contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DireccionCliente</assignToReference>
            <field>Direccion_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombresCliente</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefonoCliente</assignToReference>
            <field>HomePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApellidosCliente</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegionCliente</assignToReference>
            <field>Region_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RUTCliente</assignToReference>
            <field>Rut_contacto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Participante_de_Campana</name>
        <label>Buscar Participante de Campaña</label>
        <locationX>17</locationX>
        <locationY>463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <object>Participantes_de_Campa_a__c</object>
        <outputAssignments>
            <assignToReference>CantidadPolizas</assignToReference>
            <field>Cantidad_Polizas_mismo_periodo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CiudadPat</assignToReference>
            <field>Ciudad_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ComunaPat</assignToReference>
            <field>Comuna_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contacto_ID</assignToReference>
            <field>Contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DireccionPAT</assignToReference>
            <field>Direcci_n_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEjecutiva</assignToReference>
            <field>EjecutivaConexion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailEmpleador</assignToReference>
            <field>Email_Empleador__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Estadodecierre</assignToReference>
            <field>Estado_Cierre__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EstadoGestion</assignToReference>
            <field>Estado_de_Gesti_n_Primera_Prima__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FechaVencimientoCreditoPAT</assignToReference>
            <field>Fecha_vencimiento_Credito_PAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoCampana</assignToReference>
            <field>Mandato_Final__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NTarjetaCredito</assignToReference>
            <field>N_de_Tarjeta_de_Cr_dito__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEmpleador</assignToReference>
            <field>Nombre_Contacto_Empleador__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEmpleadorEmpresa</assignToReference>
            <field>Nombre_Empleador__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Productos</assignToReference>
            <field>Nombres_de_Productos__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdPropietario</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Poliza_ID</assignToReference>
            <field>Poliza__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelefonoEmpleador</assignToReference>
            <field>Tel_fono_Empleador__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoTarjetaCredito</assignToReference>
            <field>Tipo_de_tarjeta_de_cr_dito_PAT__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Producto</name>
        <label>Buscar Producto</label>
        <locationX>15</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_Disponible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Poliza_ID</elementReference>
            </value>
        </filters>
        <object>Poliza__c</object>
        <outputAssignments>
            <assignToReference>MesVigencia</assignToReference>
            <field>Mes_de_Sometimiento__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NPoliza</assignToReference>
            <field>N_Poliza__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreProducto</assignToReference>
            <field>Nombre_de_Producto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoProducto</assignToReference>
            <field>Tipo_Producto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Datos_Participante</name>
        <label>Actualizar Datos Participante</label>
        <locationX>1046</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>AgradecimientoPAT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ciudad_PAT__c</field>
            <value>
                <elementReference>CiudadPat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comuna_PAT__c</field>
            <value>
                <elementReference>ComunaPat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direcci_n_PAT__c</field>
            <value>
                <elementReference>DireccionPAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_vencimiento_Credito_PAT__c</field>
            <value>
                <elementReference>FechaVencimientoCreditoPAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mandato_Final__c</field>
            <value>
                <elementReference>CambioaPATfinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_de_Tarjeta_de_Cr_dito__c</field>
            <value>
                <elementReference>NTarjetaCredito</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_fono_Contacto_PAT__c</field>
            <value>
                <elementReference>TelefonoCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_tarjeta_de_cr_dito_PAT__c</field>
            <value>
                <elementReference>TipoTarjetaCredito</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_estado_gestion</name>
        <label>Actualizar estado gestion</label>
        <locationX>1505</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Agradecimiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_Cierre__c</field>
            <value>
                <elementReference>Estadodecierre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_Gesti_n_Primera_Prima__c</field>
            <value>
                <elementReference>EstadoGestion</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_estado_gestion_0</name>
        <label>Actualizar estado gestion</label>
        <locationX>852</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>Agradecimiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_Cierre__c</field>
            <value>
                <elementReference>Estadodecierre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_Gesti_n_Primera_Prima__c</field>
            <value>
                <elementReference>EstadoGestion</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <screens>
        <name>Agradecimiento</name>
        <label>Agradecimiento</label>
        <locationX>815</locationX>
        <locationY>746</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fin_de_Atencion</targetReference>
        </connector>
        <fields>
            <name>Agradecimiento_final</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Agradecimiento&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tx34</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScriptAgradecimiento</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Perfecto Sr/Srta/Sra &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombresCliente}  {!ApellidosCliente}&lt;/B&gt; &lt;/FONT&gt;, a partir del próximo mes su mandato comenzará a recaudar prima. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Muchas gracias por su tiempo Sr/Sra &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombresCliente}  {!ApellidosCliente}&lt;/B&gt; &lt;/FONT&gt;, que tenga buen día.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AgradecimientoPAT</name>
        <label>Agradecimiento</label>
        <locationX>1032</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Agradecimiento</targetReference>
        </connector>
        <fields>
            <name>asd2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0000CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Agradecimiento&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>asda22</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Perfecto Sr/a &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;, entonces fecha de hoy &lt;B&gt;{!$Flow.CurrentDate} &lt;/B&gt;hemos solicitado la suscripción del mandato PAT para su póliza &lt;B&gt;{!NPoliza}&lt;/B&gt;, recuerde que el cargo se efectuará cada día 9 por un valor de XX, mensual. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sed32</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>asa22f</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;La grabación será respaldada por la compañía como medio de autorización y en caso que ud desee eliminar este mandato, lo puede efectuar directamente en la página web de su institución emisora.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bienvenida</name>
        <label>Bienvenida</label>
        <locationX>229</locationX>
        <locationY>7</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuiereAyuda</targetReference>
        </connector>
        <fields>
            <name>SaludoCliente</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Campaña Bienvenida&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Cliente</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sr. (a): &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Ejecutiva</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Mucho gusto, mi Nombre es &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombreEjecutiva}&lt;/B&gt;&lt;/FONT&gt;, lo/la  estoy llamando del departamento de servicio al cliente de Vida Security, ¿Cómo está?&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Bienvenida</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Nuestro llamado es para informar que su producto contratado con nuestra compañía, &lt;B&gt;{!NombreProducto}&lt;/B&gt; no está recaudando, ya que su PAC se encuentra rechazado por FIRMA DISCONFORME, sin embargo, el banco XXX habilita que ud pueda activar el PAC en línea, lo(a) ayudo con el procedimiento? &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeseaAyuda</name>
            <choiceReferences>SI_contacto</choiceReferences>
            <choiceReferences>No_contacto</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;¿Desea ayuda?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Caso_para_Ejecutiva</name>
        <label>Caso para Ejecutiva</label>
        <locationX>993</locationX>
        <locationY>12</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizacion_estado_gestion</targetReference>
        </connector>
        <fields>
            <name>Correoaejecutiva</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cambio Estado Gestión&lt;/B&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ss322</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;(Según el banco, debemos usar el “Manual por Banco” para que cliente active en línea su PAC)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fds333</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RellenarCorreo</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cambie el Estado de Gestión del Participante&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EstadoGestionParticipante</name>
            <choiceReferences>EstadodeGestion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Estado de Gestión&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estadocierreentrada</name>
            <choiceReferences>Estadodecierreeleccion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Estado de Cierre&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Caso_para_Ejecutiva_0</name>
        <label>Caso para Ejecutiva</label>
        <locationX>717</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quiere_Pat</targetReference>
        </connector>
        <fields>
            <name>Correoaejecutiva_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cambio a PAT&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RellenarCorreo_1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;También podemos activar alguna tarjeta de crédito sin necesidad que ud tenga que acercarse a sucursal, ¿Desea activar un PAT vía telefónica?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cambioapat</name>
            <choiceReferences>Si_PAT</choiceReferences>
            <choiceReferences>No_Pat</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;¿Desea PAT?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cliente_Disponible</name>
        <label>Cliente Disponible</label>
        <locationX>14</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Cliente_Disponible</targetReference>
        </connector>
        <fields>
            <name>Presentacion</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Presentación&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConsultaAsegurado</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Buenos días / tardes, en este número ubico al Sr.(sra) {!NombresCliente} {!ApellidosCliente}?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cliente_Disponible_Marcar</name>
            <choiceReferences>Si_Disponible</choiceReferences>
            <choiceReferences>No_Disponible</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cliente Disponible&lt;FONT FACE=&quot;Arial&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_Personales</name>
        <label>Datos Personales</label>
        <locationX>1048</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignacion_Datos_PAT</targetReference>
        </connector>
        <fields>
            <name>de12</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;U&gt;Actualización Datos Personales&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>es23</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ffre3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Antes de continuar, para su seguridad, recuerde que esta conversación está siendo grabada, y quisiéramos confirmar, que la tarjeta está a su nombre como persona natural.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qwe3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sdf3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;En relación a ud como titular de la tarjeta:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;1)	Su nombre completo es &lt;B&gt;Responde Cliente:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nombres_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NombresCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nombres Cliente&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Apellidos_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApellidosCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Apellidos Cliente&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Telefono_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelefonoCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Teléfono Cliente&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>de344</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>as12</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;2)	Su rut &lt;B&gt;Responde Cliente&lt;/B&gt;:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RUT_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RUTCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;RUT Cliente&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DV_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DVCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;DV Cliente&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>de32</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>de3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;3)	Y su dirección sigue siendo &lt;B&gt;Responde Cliente:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Direccion_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DireccionCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dirección Cliente&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comuna_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ComunaCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comuna Cliente&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ciudad_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CiudadCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ciudad Cliente&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sw3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>de23</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;4) En relación a la tarjeta de crédito a asociar:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;¿El tipo de tarjeta es VISA, MASTERCARD, DINERS o AMEX?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TipoTarjetaCreditoCambio</name>
            <choiceReferences>TipoTarjetaCredito1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Tipo Tarjeta de Crédito&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fecha_Vencimiento</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FechaVencimientoCreditoPAT</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Fecha Vencimiento (MM/YYYY)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NTarjetaCredito1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>NTarjetaCredito</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;N° Tarjeta Crédito (16 Dígitos)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enviar_Procedimiento</name>
        <label>Enviar Procedimiento</label>
        <locationX>727</locationX>
        <locationY>279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Estadocambio</targetReference>
        </connector>
        <fields>
            <name>DerivarPAC</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enviar procedimiento&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OfrecerFormulario</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Entonces, ¿Podemos enviar a su email el procedimiento? Para que tenga el respaldo para cuando tenga tiempo y ante cualquier duda, puede responder el email y me comunico con ud para asesorarlo.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Estadocambio</name>
        <label>Cambio Estado de Gestion</label>
        <locationX>722</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizacion_estado_gestion_0</targetReference>
        </connector>
        <fields>
            <name>Correoaejecutiva_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cambio Estado Gestión&lt;/B&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RellenarCorreo_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cambie el Estado de Gestión del Participante&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EstadoGestionParticipante_0</name>
            <choiceReferences>EstadodeGestion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Estado de Gestión&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estadocierreentrada_0</name>
            <choiceReferences>Estadodecierreeleccion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Estado de Cierre&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fin_de_Atencion</name>
        <label>Fin de Atención</label>
        <locationX>1511</locationX>
        <locationY>729</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fin</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;*** Fin de la Atención. Por favor cierre esta página pinchando la &lt;/I&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;B&gt;&lt;I&gt;[&lt;/I&gt;&lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;&lt;I&gt;X&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;&lt;I&gt;]&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;I&gt; del navegador ***&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SolicitarHorario</name>
        <label>Solicitar Horario</label>
        <locationX>191</locationX>
        <locationY>159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Llamada</targetReference>
        </connector>
        <fields>
            <name>SaludoCliente_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Campaña Bienvenida&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vacio0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saludo_Cliente_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿En qué horario es posible ubicarlo/a? Lo/a llamamos de Vida Security para la entrega de información importante. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TX9</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Muy amable muchas gracias por su tiempo, hasta luego.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FechaProximoLlamado</name>
            <dataType>Date</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Fecha Próximo Llamado&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Buscar_Participante_de_Campana</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApellidosCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BeneficioCVM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CambioaPATfinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PAT</stringValue>
        </value>
    </variables>
    <variables>
        <name>CantidadPolizas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CiudadCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CiudadPat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaveInternet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComentarioCalidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComunaCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComunaPat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contacto_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DireccionCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DireccionPAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailEmpleador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Estadodecierre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EstadoGestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Fecha de Vencimiento de Tarjeta de Crédito para PAT</description>
        <name>FechaVencimientoCreditoPAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_Participante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdPropietario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MesVigencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreEjecutiva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreEmpleador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreEmpleadorEmpresa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombresCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotaCalidad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NPoliza</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Numero de Tarjeta de Crédito</description>
        <name>NTarjetaCredito</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumeroPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PAT</stringValue>
        </value>
    </variables>
    <variables>
        <name>Poliza_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Productos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecibioPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RUTCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SinComentario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelefonoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TelefonoEmpleador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoCampana</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Tipo de Tarjeta de Crédito para PAT</description>
        <name>TipoTarjetaCredito</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
