VIDASECURITY-PRO/force-app/main/default/flows/SEC_ONCO_Obtenci_n_Datos_P_liza_Mandatoria_Propuesta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asignar_Valores_P_liza_a_Propuesta</name>
        <label>Asignar Valores Póliza a Propuesta</label>
        <locationX>76</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>Propuesta.OPOR_Producto_P_liza_Mandatoria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Poliza.Nombre_de_Producto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Propuesta.OPOR_Forma_Pago_Poliza_Mandatoria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Poliza.Forma_de_Pago__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Propuesta_con_Datos_P_liza</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verificar_Propuesta_con_P_liza_Asociada</name>
        <label>Verificar Propuesta con Póliza Asociada</label>
        <locationX>252</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Propuesta_con_P_lizada_Asociada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Propuesta.OPOR_Id_Poliza_Asociada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_P_liza_en_Salesforce</targetReference>
            </connector>
            <label>Propuesta con Pólizada Asociada</label>
        </rules>
    </decisions>
    <interviewLabel>SEC - ONCO Obtención Datos Póliza Mandatoria Propuesta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SEC - ONCO Obtención Datos Póliza Mandatoria Propuesta</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_P_liza_en_Salesforce</name>
        <label>Buscar Póliza en Salesforce</label>
        <locationX>77</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Valores_P_liza_a_Propuesta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Propuesta.OPOR_Id_Poliza_Asociada__c</elementReference>
            </value>
        </filters>
        <object>Poliza__c</object>
        <outputReference>Poliza</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Forma_de_Pago__c</queriedFields>
        <queriedFields>Nombre_de_Producto__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Registro_Propuesta</name>
        <label>Buscar Registro Propuesta</label>
        <locationX>54</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verificar_Propuesta_con_P_liza_Asociada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPropuesta</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Propuesta</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OPOR_Id_Poliza_Asociada__c</queriedFields>
        <queriedFields>OPOR_Forma_Pago_Poliza_Mandatoria__c</queriedFields>
        <queriedFields>OPOR_Producto_P_liza_Mandatoria__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Propuesta_con_Datos_P_liza</name>
        <label>Actualizar Propuesta con Datos Póliza</label>
        <locationX>75</locationX>
        <locationY>606</locationY>
        <inputReference>Propuesta</inputReference>
    </recordUpdates>
    <startElementReference>Buscar_Registro_Propuesta</startElementReference>
    <status>Active</status>
    <variables>
        <name>IdPropuesta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Poliza</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Poliza__c</objectType>
    </variables>
    <variables>
        <name>Propuesta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
