VIDASECURITY-PRO/force-app/main/default/flows/Update_Task_From_CampaignMember_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Id_Lead_Converted</name>
        <label>Id Lead Converted?</label>
        <locationX>605</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>not</defaultConnectorLabel>
        <rules>
            <name>yes_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id_Lead_Converted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_2</targetReference>
            </connector>
            <label>yes id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Id</name>
        <label>Lead Id?</label>
        <locationX>407</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Id_Lead_Converted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Task From CampaignMember Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Task From CampaignMember Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_CamapignMember</name>
        <label>Update CamapignMember</label>
        <locationX>407</locationX>
        <locationY>840</locationY>
        <inputAssignments>
            <field>Task_Update__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>209</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Update_CamapignMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MCAMP_ID_Tarea_Llamada_Venta_Prod_Onco__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Candidato__c</field>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_2</name>
        <label>Update Task 2</label>
        <locationX>473</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_CamapignMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MCAMP_ID_Tarea_Llamada_Venta_Prod_Onco__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Candidato__c</field>
            <value>
                <elementReference>$Record.Id_Lead_Converted__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MCAMP_ID_Tarea_Llamada_Venta_Prod_Onco__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MCAMP_ID_Tarea_Llamada_Venta_Prod_Onco__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Lead_Id</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
