VIDASECURITY-PRO/force-app/main/default/flows/Update_Account_Campaing_AMAC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_Campaign_AMAC</name>
        <label>Is Campaign AMAC</label>
        <locationX>380</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>Isn&apos;t AMAC</defaultConnectorLabel>
        <rules>
            <name>IsAMAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Name_Participante</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campa_a_Vida_Security__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Campaña AMAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>IsAMAC</label>
        </rules>
    </decisions>
    <formulas>
        <name>Name_Participante</name>
        <dataType>String</dataType>
        <expression>&quot;Campaña AMAC - &quot; + {!$Record.Cuenta__r.Name}</expression>
    </formulas>
    <interviewLabel>Update Account Campaing AMAC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Campaign AMAC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>682</locationX>
        <locationY>410</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cuenta__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Participa_Campaign_Amac__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>261</locationX>
        <locationY>9</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Campaña AMAC - </stringValue>
            </value>
        </filters>
        <filters>
            <field>Campa_a_Vida_Security__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Cuenta__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Participantes_de_Campa_a__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_Campaign_AMAC</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
