VIDASECURITY-PRO/force-app/main/default/flows/X9_meses_vigencia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Actualizacion_Datos_Personales</name>
        <label>Actualización Datos Personales</label>
        <locationX>777</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>EmailCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DireccionCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Direccion_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComunaCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comuna_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CiudadCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ciudad_Cliente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegionCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Region_Cliente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Datos_Personales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ingreso_datos_Encuesta</name>
        <label>Ingreso datos Encuesta</label>
        <locationX>780</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>ContactoEjecutiva</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacto_Ejecutiva</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RespuestaSatisfactoria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Respuesta_Satisfactoria</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComentarioInsatisfaccion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comentario_Insatisfaccion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeseaContactoEjecutiva</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Desea_tomar_contacto_con_su_Ejecutiva</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consulta_Pantalla_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ingresos_Datos_Encuesta_1</name>
        <label>Ingresos Datos Encuesta 1</label>
        <locationX>467</locationX>
        <locationY>153</locationY>
        <assignmentItems>
            <assignToReference>DudaProducto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duda_Producto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComentarioDuda</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comentarios_dudas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EvaluarProducto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluar_Productos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consulta_Pantalla_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ingresos_Datos_Encuesta_2</name>
        <label>Ingresos Datos Encuesta 2</label>
        <locationX>313</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>IngresoSitio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ingreso_Sitio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComentarioSitio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comentario_Sitio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UtilizadoBeneficios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Utilizado_Beneficios</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComentarioBeneficio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comentario_Beneficio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consulta_Pantalla_2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agente_Vigente</name>
        <choiceText>Agente Vigente</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>sin_informacion</name>
        <choiceText>sin información</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>sin información</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Consulta_Pantalla_1</name>
        <label>Consulta Pantalla 1</label>
        <locationX>312</locationX>
        <locationY>272</locationY>
        <defaultConnector>
            <targetReference>Encuesta2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Ingreso_Correcto_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DudaProducto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EvaluarProducto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_1</targetReference>
            </connector>
            <label>Ingreso Correcto 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consulta_Pantalla_2</name>
        <label>Consulta Pantalla 2</label>
        <locationX>481</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>Encuesta3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Ingreso_Incorrecto_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IngresoSitio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UtilizadoBeneficios</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_2</targetReference>
            </connector>
            <label>Ingreso Incorrecto 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consulta_Pantalla_3</name>
        <label>Consulta Pantalla 3</label>
        <locationX>778</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Encuesta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Ingreso_Incorrecto_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactoEjecutiva</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RespuestaSatisfactoria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeseaContactoEjecutiva</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sin_informacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_3</targetReference>
            </connector>
            <label>Ingreso Incorrecto 3</label>
        </rules>
    </decisions>
    <interviewLabel>9 meses vigencia_1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>9 meses vigencia</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Contacto</name>
        <label>Buscar Contacto</label>
        <locationX>170</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X9_Meses_Vigencia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CiudadCliente</assignToReference>
            <field>Ciudad_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ComunaCliente</assignToReference>
            <field>Comuna_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DVCliente</assignToReference>
            <field>DV_contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DireccionCliente</assignToReference>
            <field>Direccion_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmailCliente</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombresCliente</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApellidosCliente</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegionCliente</assignToReference>
            <field>Region_Particular__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RutCliente</assignToReference>
            <field>Rut_contacto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Participante_de_Campana</name>
        <label>Buscar Participante de Campaña</label>
        <locationX>35</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <object>Participantes_de_Campa_a__c</object>
        <outputAssignments>
            <assignToReference>Contacto_ID</assignToReference>
            <field>Contacto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreEjecutiva</assignToReference>
            <field>Ejecutivo_de_Cliente__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdPropietario</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Datos_Personales</name>
        <label>Actualizar Datos Personales</label>
        <locationX>957</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Agradecimientos_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacto_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ciudad_Particular__c</field>
            <value>
                <elementReference>CiudadCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comuna_Particular__c</field>
            <value>
                <elementReference>ComunaCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direccion_Particular__c</field>
            <value>
                <elementReference>DireccionCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailCliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_Particular__c</field>
            <value>
                <elementReference>RegionCliente</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Encuesta</name>
        <label>Actualizar Encuesta</label>
        <locationX>778</locationX>
        <locationY>246</locationY>
        <connector>
            <targetReference>Datos_Personales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Participante</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comentarios_Dudas_Productos__c</field>
            <value>
                <elementReference>ComentarioDuda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comentarios_Insatisfaccion_con_Ejecutiva__c</field>
            <value>
                <elementReference>ComentarioInsatisfaccion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comentarios_no_ingreso_al_sitio_web__c</field>
            <value>
                <elementReference>ComentarioSitio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comentarios_no_utiliza_beneficios__c</field>
            <value>
                <elementReference>ComentarioBeneficio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contactado__c</field>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contacto_con_Ejecutiva__c</field>
            <value>
                <elementReference>ContactoEjecutiva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desea_tomar_contacto_con_su_Ejecutiva__c</field>
            <value>
                <elementReference>DeseaContactoEjecutiva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duda_en_relacion_a_sus_Productos__c</field>
            <value>
                <elementReference>DudaProducto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evaluar_nuevos_Productos__c</field>
            <value>
                <elementReference>EvaluarProducto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ha_ingresado_al_sitio_web__c</field>
            <value>
                <elementReference>IngresoSitio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ha_utilizado_beneficios_del_Club__c</field>
            <value>
                <elementReference>UtilizadoBeneficios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Respuesta_Satisfactoria__c</field>
            <value>
                <elementReference>RespuestaSatisfactoria</elementReference>
            </value>
        </inputAssignments>
        <object>Participantes_de_Campa_a__c</object>
    </recordUpdates>
    <screens>
        <name>Agradecimientos_1</name>
        <label>Agradecimientos</label>
        <locationX>959</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fin_Atencion</targetReference>
        </connector>
        <fields>
            <name>Agradecimientos</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;En nombre de Vida Security agradezco su tiempo y quiero recordarle que está a disposición nuestra línea de servicio al cliente.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nuestros contacto y números están en nuestra WEB.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Muchas gracias Sr.(a) &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;&lt;/FONT&gt;, que tenga un buen día.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_Personales</name>
        <label>Datos Personales</label>
        <locationX>779</locationX>
        <locationY>144</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizacion_Datos_Personales</targetReference>
        </connector>
        <fields>
            <name>D1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Datos Cliente&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>D2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>D3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sr. &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;. Para Terminar le agradeceré me confirme si su:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>D4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EmailCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email sigue siendo:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>D5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>D6</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Su dirección sigue siendo:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Direccion_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DireccionCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Dirección Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comuna_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ComunaCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comuna Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ciudad_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CiudadCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ciudad Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Region_Cliente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RegionCliente</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Región Cliente&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Encuesta1</name>
        <label>Encuesta1</label>
        <locationX>313</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ingresos_Datos_Encuesta_1</targetReference>
        </connector>
        <fields>
            <name>E1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Encuesta&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nuestro llamado es para agradecer su preferencia y preguntarle como ha sido atendido por nosotros. &lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Duda_Producto</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>sin_informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Tiene alguna solicitud o duda en relación a sus productos?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comentarios_dudas</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comentarios sobre solicitudes / dudas&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>E6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Evaluar_Productos</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>sin_informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Le gustaría evaluar nuevos productos con nosotros?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Encuesta2</name>
        <label>Encuesta2</label>
        <locationX>311</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ingresos_Datos_Encuesta_2</targetReference>
        </connector>
        <fields>
            <name>E7</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Encuesta&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E9</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Le recordamos que puede ver toda la información asociada a sus productos a través de nuestro sitio web,&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ingreso_Sitio</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>sin_informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Ha ingresado a nuestra página?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comentario_Sitio</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;(Si la respuesta es No) ¿Por qué?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>E10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E11</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;También le recuerdo que Ud. es parte del &lt;U&gt;Club Viva Mejor&lt;/U&gt;, donde puede acceder a descuentos en Farmacia, Restaurant y otros servicios.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Utilizado_Beneficios</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>sin_informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Ha utilizado beneficios del Club?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comentario_Beneficio</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;(Si la respuesta es No) ¿Por qué?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Encuesta3</name>
        <label>Encuesta3</label>
        <locationX>630</locationX>
        <locationY>508</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ingreso_datos_Encuesta</targetReference>
        </connector>
        <fields>
            <name>E17</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Encuesta&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contacto_Ejecutiva</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>sin_informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Ha tomado contacto con su Ejecutiva?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>E13</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>E14</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Si la respuesta es Si:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Respuesta_Satisfactoria</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>sin_informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;¿Tuvo respuesta Satisfactoria?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>E15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comentario_Insatisfaccion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;(Si la respuesta es No) ¿Por qué?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>E20</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Desea_tomar_contacto_con_su_Ejecutiva</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>sin_informacion</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>sin_informacion</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;¿Desea tomar contacto con su Ejecutiva?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fin_Atencion</name>
        <label>Fin Atención</label>
        <locationX>958</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fin_atencion_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#990000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;I&gt;*** Fin de la Atención. Por favor cierre esta página pinchando la &lt;/I&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;&lt;B&gt;&lt;I&gt;[&lt;/I&gt;&lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;&lt;I&gt;X&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;&lt;I&gt;]&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;I&gt; del navegador ***&lt;/I&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_de_Error_1</name>
        <label>Mensaje de Error 1</label>
        <locationX>310</locationX>
        <locationY>154</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encuesta1</targetReference>
        </connector>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Debe ingresar las respuestas con valores &amp;quot;Si&amp;quot; o &amp;quot;No&amp;quot; para continuar con esta atención.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_de_Error_2</name>
        <label>Mensaje de Error 2</label>
        <locationX>480</locationX>
        <locationY>386</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encuesta2</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Debe ingresar las respuestas con valores &amp;quot;Si&amp;quot; o &amp;quot;No&amp;quot; para continuar con esta atención.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_de_Error_3</name>
        <label>Mensaje de Error 3</label>
        <locationX>630</locationX>
        <locationY>370</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encuesta3</targetReference>
        </connector>
        <fields>
            <name>Error_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Debe ingresar las respuestas con valores &amp;quot;Si&amp;quot; o &amp;quot;No&amp;quot; para continuar con esta atención.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X9_Meses_Vigencia</name>
        <label>9 Meses Vigencia</label>
        <locationX>169</locationX>
        <locationY>148</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Encuesta1</targetReference>
        </connector>
        <fields>
            <name>P1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000099&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Campaña 9 meses vigencia&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Buenos días / Buenas tardes, necesito comunicarme con el/la Sr. (a)&lt;B&gt; {!NombresCliente} {!ApellidosCliente}&lt;/B&gt;. ¿Se encontrará?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P5</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Respuesta NO Contratante:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P7</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lo estamos llamando de Vida Security. ¿A qué hora podré ubicar al Sr. &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;&lt;FONT FACE=&quot;Arial&quot;&gt;?&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P8</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Respuesta Contratante:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P10</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sr. &lt;B&gt;{!NombresCliente} {!ApellidosCliente}&lt;/B&gt;, mi nombre es &lt;B&gt;{!NombreEjecutiva}&lt;/B&gt;, lo estoy llamando del departamento de Servicio al Cliente de Vida Security.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Buscar_Participante_de_Campana</startElementReference>
    <status>Active</status>
    <variables>
        <name>AgenteVigente</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApellidosCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CiudadCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ComentarioBeneficio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComentarioDuda</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComentarioInsatisfaccion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComentarioSitio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComunaCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contacto_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactoEjecutiva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeseaContactoEjecutiva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DireccionCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DudaProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EjecutivodeCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EvaluarProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_Participante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdPropietario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPropietarioCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IngresoSitio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreEjecutiva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombresCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Poliza_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RespuestaSatisfactoria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UtilizadoBeneficios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
